/* Evan's Test Site Stylings */
/* Author: Evan Paradis */
@font-face {
    font-family: 'Bleeding';
    src: url('fonts/bleeding.woff2') format('woff2'),
         url('fonts/bleeding.woff') format('woff');
}
@font-face {
    font-family: 'DustWest';
    src: url('fonts/dustwest.woff2') format('woff2'),
         url('fonts/dustwest.woff') format('woff');
}
/* Block Stylings */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100% !important;
	height: 100% !important;
	min-height: 100% !important;
	font-size: 100%;
}
body {
	color: #17365d;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/content-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}
img, a {
	border: 0;
}
a {
	color: #c00000;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
a:hover {
	color: #17365d;
}
.red-heading {
	text-align: center;
	font-size: 34px;
	font-weight: 400;
	font-family: 'Bleeding';
	color: #c00000;
	-ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.red-heading span {
	font-family: 'Montserrat', sans-serif;
}
.blue-heading {
	margin: 14% 0 45px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 58px;
	letter-spacing: -2px;
	color: #17365d;
	line-height: 72px;
	text-transform: uppercase;
	text-align: center;
	-ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.blue-heading span {
    /*font-family: 'impact_labelregular';
    color: #000;
    font-weight: 400;
    font-size: 78px;*/
}
.blue-heading span.smaller {
	margin-top: 5px;
	font-size: 40px;
	line-height: 40px;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	line-height: 42px;
	letter-spacing: -2px;
	color: #17365d;
}
h3.firkin-head {
	margin: 35px 0;
	padding: 10px 0;
	font-size: 24px;
	letter-spacing: 0;
	text-align: center;
	text-transform: uppercase;
    line-height: inherit;
    background: url('http://unoapp.com/img1609919') no-repeat center;
    background-size: cover;
    color: #1a1a1a;
    transform: rotate(-2deg);
    text-shadow: 0 0 7px #fff, 0 0 7px #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
}
h4 {
	margin-bottom: 15px;
    letter-spacing: -1px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #17365d;
}
h5 {
	position: absolute;
	z-index: 2;
	bottom: -13px;
	left: 200px;
	font-size: 24px;
	font-weight: 400;
	font-family: 'Bleeding';
	color: #c00000;
	-ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
hr {

}
p {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 15px;
}
p:last-child {
	margin-bottom: 0;
}
.clear {
	clear: both;
}
.wrapper {
	position: relative;
	height: 100%;
	min-height: 100%;
}
.content-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.content-wrapper.with-banner {
	position: relative;
	top: -20px;
	background-image: url('../img/banner.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top -20px center;
	background-attachment: scroll;
}
.content {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	padding: 15px;
}
/* Header Stylings */
.header-spacer {
	height: 81px;
	width: 100%;
	background-color: #ccc;
}
.header-wrapper {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
}
header {
	position: relative;
	width: 100%;
	z-index: 6;
	padding: 5px;
	background-color: #c6c7c9;
}
header::after {
	content: '';
	position: absolute;
	height: 40px;
	width: 100%;
	left: 0;
	bottom: -40px;
	background: url('../img/header-grunge.png') no-repeat top center;
	background-size: cover;
}
.header-table {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.header-row {
	display: table-row;
}
.header-cell {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
header img {
	max-width: 250px;
	width: 100%;
}
/* Main Navigation Stylings */
.header-cell.navigation {
	width: 715px;
}
.header-cell ul {
	float: right;
	list-style-type: none;
	text-align: right;
}
.header-cell ul li {
	display: inline-block;
	padding: 0 3px;
}
.header-cell ul li a {
	position: relative;
	display: block;
	padding: 5px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #17365d;
	border: 1px solid transparent;
	-webkit-transition: border .3s linear;
	-moz-transition: border .3s linear;
	-ms-transition: border .3s linear;
	-o-transition: border .3s linear;
	transition: border .3s linear;
}
.header-cell ul li a span {
	position: relative;
	z-index: 2;
}
.header-cell ul li a::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../img/nav-hover.png') no-repeat left center;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-ms-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
.header-cell ul li a:hover {
	border: 1px solid #c00000;
}
.header-cell ul li a:hover::before {
	opacity: 1;
}
.header-cell ul li a.selected {
	border: 1px solid #c00000;
}
.header-cell ul li a.selected::before {
	opacity: 1;
}
/* Responsive Navigation Stylings */
.responsive-wrapper {
	position: relative;
	z-index: 6;
	display: none;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .2s linear;
	-moz-transition: height .2s linear;
	-ms-transition: height .2s linear;
	-o-transition: height .2s linear;
	transition: height .2s linear;
}
.responsive-wrapper.open {
	height: 242px;
}
.responsive-nav {
	padding: 15px;
	background: url('../img/res-nav-bg.jpg') no-repeat center;
	background-size: cover;
	background-color: #ccc;
	border-top: 2px solid #c00000;
	border-bottom: 2px solid #c00000;
}
.responsive-nav ul {
	list-style-type: none;
	border: 2px solid #c00000;
	background-color: rgba(255,255,255,.6);
}
.responsive-nav ul li {

}
.responsive-nav ul li a {
	display: block;
	padding: 5px 10px;
	color: #17365d;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}
.responsive-nav ul li a:hover {
	background-color: #17365d;
	color: #fff;
}
.responsive-nav ul li a.selected {
	background-color: #17365d;
	color: #fff;
}
/* Nav Icon Stylings */
#navIcon {
	display: none;
	width: 30px;
	height: 36px;
	position: absolute;
	right: 10px;
    top: 15px;
	/*top: 50%;*/
	/*margin-top: -18px;*/
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#navIcon span {
	display: block;
	position: absolute;
	height: 5px;
	width: 50%;
	background-color: #17365d;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#navIcon:hover span {
	background-color: #c00000;
}
#navIcon span:nth-child(even) {
	left: 50%;
}
#navIcon span:nth-child(odd) {
	left:0px;
}
#navIcon span:nth-child(1), #navIcon span:nth-child(2) {
	top: 0px;
}
#navIcon span:nth-child(3), #navIcon span:nth-child(4) {
	top: 8px;
}
#navIcon span:nth-child(5), #navIcon span:nth-child(6) {
	top: 16px;
}
#navIcon.open span {
	background-color: #c00000;
}
#navIcon.open span:nth-child(1), #navIcon.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#navIcon.open span:nth-child(2), #navIcon.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#navIcon.open span:nth-child(1) {
	left: 5px;
	top: 7px;
}
#navIcon.open span:nth-child(2) {
	left: calc(50% - 3px);
	top: 7px;
}
#navIcon.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}
#navIcon.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}
#navIcon.open span:nth-child(5) {
	left: 5px;
	top: 14px;
}
#navIcon.open span:nth-child(6) {
	left: calc(50% - 3px);
	top: 14px;
}
.menu-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
}
.mobile-phone {
	display: none;
	position: absolute;
	right: 25px;
	top: 50%;
	height: 14px;
	margin-top: -7px;
	font-size: 14px;
	font-weight: 700;
}
/* About Us Stylings */
#about {
	position: relative;
	top: -8px;
	background-image: url('../img/home-content/about-us-bg.png');
	background-repeat: none;
	background-position: top -70px center;
	background-size: cover;
}
.samuel-quote {
	margin: 40px auto 15px;
}
.samuel-image {
	float: left;
	width: 25%;
	text-align: right;
}
.samuel-image img {
	max-width: 100px;
	width: 100%;
}
.samuel-dialogue {
	position: relative;
	float: right;
	width: 70%;
	margin-top: 15px;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	font-family: 'DustWest';
	font-size: 36px;
	text-align: center;
	color: #17365d;
}
.samuel-dialogue::before {
	content: '';
	position: absolute;
	left: -45px;
	top: 15px;
	width: 45px;
	height: 45px;
	background: url('../img/home-content/speech-bubble.png') no-repeat center;
	background-size: contain;
}
.accented-area {
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
	color: #323232;
	text-align: center;
}
.about-content {
	max-width: 90%;
	margin: 0 auto;
	background: url('../img/home-content/burger.png') no-repeat right center;
	background-size: contain;
}
.about-content p {
	margin: 0;
	max-width: 60%;
}
.about-content h3 {
	margin: 25px 0;
	max-width: 605px;
	width: 100%;
}
/* Best Pubs Stylings */
.best-pubs-content {
	max-width: 90%;
	margin: 0 auto;
}
.best-pubs-content .left-side {
	float: left;
	width: 49%;
}
.best-pubs-content .left-side img {
	max-width: 100%;
	border: 2px solid #17365d;
}
.best-pubs-content .right-side {
	float: right;
	width: 49%;
}
/* Best Restaurants Stylings */
.best-restaurants-content {
	max-width: 90%;
	margin: 0 auto;
}
.best-restaurants-content .left-side {
	float: left;
	width: 49%;
	text-align: right;
}
.best-restaurants-content .right-side {
	float: right;
	width: 49%;
}
.best-restaurants-content .right-side img {
	max-width: 100%;
	border: 2px solid #17365d;
}
.half-img {
	width: 49%;
}
.half-img.left-img {
	float: left;
}
.half-img.right-img {
	float: right;
}
/* Firkin Brunch Stylings */
.firkin-brunch-content {
	max-width: 90%;
	margin: 0 auto;
}
.firkin-brunch-content .left-side {
	float: left;
	width: 49%;
}
.firkin-brunch-content .left-side img {
	width: 100%;
	max-width: 100%;
	border: 2px solid #17365d;
}
.firkin-brunch-content .right-side {
	float: right;
	width: 49%;
}
.blue-heading span.brunch-header {
	position: absolute;
	bottom: -30px;
	right: 35px;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #3d3d3d;
}
/* About Us Stylings */
#aboutUs img {
    border: 1px solid #4d4d4d;
    max-width: 100%;
}
.firkin-img-left {
    float: left;
    margin: 0 15px 0 0;
}
.firkin-img-right {
    float: right;
    margin: 0 0 0 15px;
}
.left-text {
    text-align: left;
}
.right-text {
    text-align: right;
}
/* Daily Deals */
#dailyDeals {

}
#dailyDeals img {
	border: 5px solid #17365d;
    max-width: 100%;
}
.available-deals {
	text-align: center;
}
.deal-section {
	display: inline-block;
	width: 25%;
	padding: 10px;
}
/* Brews, Bevvy & Bites Stylings */
#brews img {
    border: 5px solid #17365d;
    max-width: 100%;
}
/* Burgers Stylings */
#burgers img {
	border-radius: 50%;
    border: 5px solid #17365d;
    max-width: 100%;
}
/* Locations Stylings */
.locations-info img {
	display: block;
	border-radius: 50%;
    border: 5px solid #17365d;
    max-width: 100%;
}
.location {
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    font-family: 'Source Sans Pro';
}
.location img {
    display: block;
    margin: 0 auto;
}
.location-title {
    position: relative;
    padding: 10px;
    background: url('../img/black-pattern.jpg') repeat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #fff;
    border-top: 1px solid #000;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.location-header {
    border: 1px solid #333;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.9);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.9);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,.9);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.location-header a {
    display: block;
    text-decoration: none;
}
.old .location-header:hover .location-title {
    color: #b61b00;
}
.old .location-header:hover {
    box-shadow: 0 0 10px 1px #b61b00;
}
.new .location-header:hover .location-title {
    color: #3e6eef;
}
.new .location-header:hover {
    box-shadow: 0 0 10px 1px #3e6eef;
}
.location-title i {
    position: absolute;
    right: 10px;
    top: 15px;
}
.location-content {
    padding: 10px;
}
.location-content a {
	font-weight: 700;
	color: #0c0c2b;
}
.location-content a.location-link {
    font-weight: 700;
    color: #0c0c2b;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
}
.location-content a:hover {
    color: #c00000;
}
.location-content p {
	font-size: 14px;
	font-family: 'Roboto';
	line-height: inherit;
    margin: 0;
}
.location-content p:first-child {
	min-height: 95px;
}
.location-img img {
    width: 100%;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}
/* Contact Stylings */
.left-side {
    float: left;
    width: 49%;
}
.right-side {
    float: right;
    width: 49%;
}
form {
    margin-top: 15px;
}
form .required {
    color: #c00000;
}
.datepicker {
    border-radius: 0 !important;
}
form input[type="text"], form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.5);
    color: #17365d;
    font-size: 14px;
    text-align: center;
}
form select {
	height: 39px;
}
form textarea {
    resize: none;
    height: 100px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #004080;
    text-transform: uppercase;
    font-weight: 500;
}
form .submit-btn {
    float: right;
    cursor: pointer;
    padding: 10px;
    color: #17365d;
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.5);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
form .submit-btn:hover {
    border: 1px solid #c00000;
}
form input[type="text"], form select, form textarea {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
}
form input[type="text"]:focus, form select:focus, form textarea:focus {
    box-shadow: 0 0 5px #c00000;
}
form #customSuccessMsg {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}
form #errorModal {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}
form #customSuccessMsg .modal-center {
    position: absolute;
    width: 240px;
    height: 270px;
    top: 50%;
    margin-top: -135px;
    left: 50%;
    color: #fff;
    margin-left: -120px;
    z-index: 100;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #000;
    border: 1px solid #0c0c2b;
}
form #errorModal .modal-center {
    position: absolute;
    width: 240px;
    height: 140px;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    color: #fff;
    margin-left: -120px;
    z-index: 100;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #000;
    border: 1px solid rgba(255,0,0,.5);
}
.modal-center h2 {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-size: 18px;
}
.modal-center p {
	font-size: 14px;
	line-height: inherit;
}
form #customSuccessMsg .modal-center h2.thanks {
    color: green;
}
.ok-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    border-top: 1px solid rgba(255,255,255,.2);
    font-size: 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.ok-btn:hover {
	background-color: #0c0c2b;
}
::-webkit-input-placeholder {
   color: #0c0c2b;
}
::-moz-placeholder {
   color: #0c0c2b;
}
:-ms-input-placeholder {
   color: #0c0c2b;
}
/* Flexslider Stylings */
.slider {
	position: relative;
}
.slider:after {
	content: '';
	position: absolute;
	z-index: 2;
	height: 40px;
	width: 100%;
	left: 0;
	bottom: 0;
	background: url('../img/header-grunge-bottom.png') no-repeat top center;
	background-size: cover;
}
.slider ul li img {
	display: block;
	width: 100%;
}
.flex-direction-nav {
	display: none;
}
.custom-navigation {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 50%;
	margin-top: -32px;
}
.flex-prev img, .flex-next img {
	display: block;
}
.flex-prev, .flex-next {
	border-radius: 50%;
	background-color: rgba(32,38,70,.3);
	border: 2px solid transparent;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.flex-prev:hover, .flex-next:hover {
	background-color: rgba(32,38,70,.5);
	border: 2px solid #c00000;
}
.flex-prev {
	float: left;
	margin-left: 15px;
}
.flex-next {
	float: right;
	margin-right: 15px;
}
/* Footer Stylings */
footer {
	/*margin-top: -20px;*/
	padding: 10px;
	background-color: #c6c7c9;
	border-top: 1px solid rgba(0,0,0,.2);
}
footer h4 {
	color: #17365d;
	margin: 0;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}
footer p {
	font-size: 14px;
	line-height: 18px;
}
footer .firkin-info a {
	font-weight: 700;
}
footer .firkin-info {

}
footer .footer-table {
	width: 100%;
	display: table;
}
footer .footer-row {
	display: table-row;
}
footer .footer-cell {
	display: table-cell;
	vertical-align: middle;
}
footer .social-media a {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    text-align: center;
    color: #c6c7c9;
    background-color: #17365d;
}
footer .social-media a:hover {
	background-color: #c00000;
}
footer .social-media .footer-cell {
	text-align: right;
	padding-left: 5px;
}
.footer-cell.right {
	width: 445px;
	text-align: right;
}
.login {
	border: none !important;
	display: block;
	max-width: 100%;
	margin-left: 5px;
}
/* Location Map Stylings */
body .contact-widget.template-5 {
	font-family: 'Montserrat', sans-serif;
}
body .contact-widget.template-5 .search-controls label {
	color: #17365d;
	font-size: 16px;
}
body .contact-widget.template-5 .search-controls input[type="submit"] {
	font-family: 'Montserrat', sans-serif;
	background-color: #17365d;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
body .contact-widget.template-5 .location-details-wrap .display-table {
	font-family: 'Montserrat', sans-serif;
}
body .contact-widget.template-5 .search-controls input[type="text"], body .contact-widget.template-5 .search-controls select {
	border-radius: 0px;
    -webkit-border-radius: 0px;
}
body .contact-widget.template-5 .search-location-name {
	color: #c00000;
}
body .contact-widget.template-5 .location-details-wrap .location-details-wrapper .search-ribbon-wrapper .search-ribbon {
	background-color: #17365d;
}
body .contact-widget.template-5 .location-details-wrap .location-details-wrapper .search-ribbon-wrapper .search-ribbon:after {
	border-top: 15px solid #17365d;
}
body .contact-widget.template-5 .location-details-wrap .location-details-wrapper.selected .search-ribbon {
	background-color: #17365d;
}
body .contact-widget.template-5 .location-details-wrap .location-details-wrapper.selected .search-ribbon:after {
	background-color: #17365d;
}
body .contact-widget.template-5 .location-details-wrap .location-details-wrapper .location-details-full {
	background-color: #17365d;
}
body .contact-widget.template-5 .location-details-wrap .location-details-wrapper.selected .search-ribbon:after {
	border-top: 15px solid #17365d;
}
/* Other Stylings */
.highlight {

}
.bolded {
	font-weight: 700;
}
.site-btn {
	display: inline-block;
	color: #c00000;
	font-size: 18px;
	padding: 5px;
	background-color: rgba(255,255,255,.5);
	border: 2px solid #17365d;
	/*font-family: 'impact_labelregular';*/
	text-transform: uppercase;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.site-btn:hover {
	color: #000;
}
.responsive-hide {

}
.menu-item-content .menu-item-title {
    display: block !important;
}
span.menu-blue {
	color: #17365d;
    font-size: 18px;
    font-weight: bold;
}
span.disclaimer {
    font-style: italic;
}
/* UNOapp Overrides */
.menu_widget_navigation {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #2b3373;
}
body .content .category-title {
	margin: 20px 0;
	line-height: 1;
}
body .nav_structure1 .menu_widget_navigation ul li span {
    margin: 0;
    text-transform: uppercase;
}
body .menu_widget_navigation ul li {
    margin: 2px !important;
    padding: 5px !important;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
/* Disclaimer Stylings for Menus */
.main-container {
	text-align: center;
}
.main-container p {
	margin: 0;
    font-size: 16px;
    font-family: Muli;
    line-height: 1.4;
    color: #000000;
}
.fake-cell.heading {
	background-color: #253F8E !important;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #4d4d4d;
}
.fake-table {
	margin-bottom: 15px;
	display: table;
	width: 100%;
	border: 1px solid #4d4d4d;
	/*border-collapse: collapse;*/
}
.fake-row {
	display: table-row;
}
.fake-row:nth-child(even) {
	background-color: #f2f2f2;
}
.fake-cell {
	display: table-cell;
	padding: 10px;
	font-size: 14px;
    font-family: Muli;
    text-align: left;
    vertical-align: middle;
}
.fake-cell:nth-child(2) {
	border-left: 1px solid #4d4d4d;
	border-right: 1px solid #4d4d4d;
}
.firkin-btn {
	display: inline-block;
	width: 33.333%;
	padding: 5px;
}
.firkin-btn a {
	display: block;
	padding: 10px;
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #16A1DB;
}
.firkin-btn a:hover {
	color: #253F8E;
	border: 2px solid #c00000;
}
@media screen and (max-width: 460px) {
    .nav_structure1 .menu_widget_mobile_navigation .menu_widget_mobile_selected { font-size:22px;padding:0 30px;margin-bottom:15px; }
    .nav_structure1 .menu_widget_cat_navigation { display:none !important; }
}
/* Responsive Stylings */

/* Header Stylings */
@media screen and (max-width: 1385px) and (min-width: 565px) {
	header img { max-width:200px; }
	h5 { font-size:14px;left:37px;bottom:-13px; }
	.header-spacer { height:67px; }
	.header-cell.navigation { width:785px; }
	.header-cell ul li { padding:0 1px; }
	.header-cell ul li a { padding:5px; }
}
/* Locations Responsive */
@media screen and (max-width: 1100px) {
    .location { width:25%;padding:5px;min-height:306px; }
}
/* Tablet Stylings */
@media screen and (max-width: 1050px) and (min-width: 565px) {
	.header-cell.navigation ul { display:none; }
	.header-cell.navigation { width:30px; }
	.red-heading { font-size:20px; }
	.blue-heading { margin:10% 0 35px;font-size:38px;line-height:56px; }
	.blue-heading span { font-size:58px; }
	.blue-heading span.brunch-header { bottom:-25px;font-size:18px; }
	.mobile-phone { display:block; }
	p { font-size:14px;line-height:22px; }
	#navIcon { display:block; }
	.samuel-quote { margin:20px auto 10px; }
	.samuel-dialogue { font-size:24px; }
	.accented-area { font-size:16px; }
	#about { background: url(../img/home-content/about-us-bg.jpg) no-repeat top -80px center; }
	#aboutUs img { display:block;width:100%;margin:0 auto 15px;float:none; }
	.responsive-wrapper { display:block; }
	.about-content { max-width:100%; }
	.about-content h3 { max-width:60%;font-size:34px;line-height:32px; }
	.about-content p { max-width:80%; }
	.get-white { padding:10px;background-color:rgba(255,255,255,.8); }
	.best-pubs-content { max-width:100%; }
	.best-pubs-content .left-side, .best-pubs-content .right-side { float:none;width:100%; }
	.best-pubs-content .left-side { margin-bottom:15px; }
	.best-restaurants-content { max-width:100%; }
	.best-restaurants-content .left-side, .best-restaurants-content .right-side { float:none;width:100%; }
	.best-restaurants-content .left-side { margin-bottom:15px;text-align:left; }
	.firkin-brunch-content { max-width:100%; }
	.firkin-brunch-content .left-side, .firkin-brunch-content .right-side { float:none;width:100%; }
	.firkin-brunch-content .left-side { margin-bottom:15px; }
	.responsive-hide { display:none; }
	.location { width:33.333%;min-height:286px; }
	.firkin-info { margin-bottom:10px; }
	.social-media { margin-bottom:10px; }
	.footer-cell { display:block !important;width:100% !important;text-align:center !important; }
	.login { display:inherit !important;margin-left:0; }
	.deal-section { width:33.333%; }

	.firkin-btn { width:50%; }
}

/* Mobile Stylings */
@media screen and (max-width: 564px) {
	.content { padding:10px 15px; }
	.header-spacer { height:53px; }
	header img { max-width:150px; }
	header::after { height:20px;bottom:-20px; }
	.red-heading { font-size:24px;line-height:32px; }
	h5 { font-size:14px;left:0;bottom:-14px; }
	.blue-heading { margin:8% 0 15px;font-size:20px;line-height:30px; }
	.blue-heading span { font-size:28px; }
	.blue-heading span.smaller { font-size:24px;line-height:24px; }
	.blue-heading span.brunch-header { bottom:0;font-size:18px;position:relative;right:0; }
	h3.firkin-head { font-size:22px; }
	h4 { font-size:18px; }
	#navIcon { top:5px; }
	.mobile-phone { display:block;margin-top:0;top:1px;font-size:12px;right:25px; }
	p { font-size:14px;line-height:22px; }
	.header-cell.navigation { width:30px; }
	.header-cell.navigation ul { display:none; }
	#navIcon { display:block; }
	.custom-navigation { margin-top:-17px; }
	.custom-navigation img { width:30px; }
	.slider:after { height:20px;bottom:0; }
	#about { top:0; }
	.samuel-quote { margin:20px auto 10px; }
	.samuel-dialogue { font-size:18px; }
	.samuel-dialogue::before { left:-25px;width:25px;height:25px; }
	.accented-area { font-size:12px; }
	#about { background: url(../img/home-content/about-us-bg.jpg) no-repeat top -80px center; }
	#aboutUs img { display:block;width:100%;margin:0 auto 15px;float:none; }
	.flex-control-nav { bottom:0; }
	.responsive-wrapper { display:block; }
	.about-content { max-width:100%; }
	.about-content h3 { max-width:100%;font-size:30px;line-height:28px; }
	.about-content p { max-width:100%;font-size:14px;line-height:22px; }
	.get-white { padding:10px;background-color:rgba(255,255,255,.8); }
	.mobile-get-white { padding:10px;background-color:rgba(255,255,255,.8); }
	.best-pubs-content { max-width:100%; }
	.best-pubs-content .left-side, .best-pubs-content .right-side { float:none;width:100%; }
	.best-pubs-content .left-side { margin-bottom:15px; }
	.best-restaurants-content { max-width:100%; }
	.best-restaurants-content .left-side, .best-restaurants-content .right-side { float:none;width:100%; }
	.best-restaurants-content .left-side { margin-bottom:15px;text-align:left; }
	.firkin-brunch-content { max-width:100%; }
	.firkin-brunch-content .left-side, .firkin-brunch-content .right-side { float:none;width:100%; }
	.firkin-brunch-content .left-side { margin-bottom:15px; }
	.site-btn { font-size:20px; }
	.responsive-hide { display:none; }
	.firkin-img-left, .firkin-img-right { float:none;margin:0 0 15px 0; }
	.right-text { text-align:left; }
	.firkin-info { margin-bottom:10px; }
	.social-media { margin-bottom:10px; }
	.footer-cell { display:block !important;width:100% !important;text-align:center !important; }
	.login { display:inherit !important;margin-left:0; }
	footer .social-media a { padding:2px;font-size:18px;width:28px;height:28px; }
	#locations .firkin-img-left, #locations .firkin-img-right { margin:0 auto 15px; }
	.location { width:50%;min-height:inherit; }
	.location-title { font-size:12px; }
	.location-content { padding:5px; }
	.location-content p { font-size:12px; }
	.location-content p:first-child { min-height:85px; }
    .hidden { display:none; }
    .left-side { float:none;width:100%; }
    .right-side { float:none;width:100%; }
    .deal-section { width:100%;padding:0px; }

    .firkin-btn { width:100%; }
}
@media only screen and (orientation: landscape) and (device-width: 320px) {

}

@media screen and (max-width: 460px) {
	body .nav_structure1 .menu_widget_cat_navigation { display:none; }
}
