<div id="daily-deals-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><style>
    #dailyDeals {
        background-image: url('https://images.unoapp.com/boxdata/asset12867/images/firkin_menupage_backgroundpattern_2017.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #dailyDeals .main-container {
        border: 1px solid #2b3373;
        background-color: rgba(255,255,255,.8) !important;
    }
    #dailyDeals p {
        margin: 0 0 15px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    #dailyDeals h4 {
        margin: 0 0 15px;
        letter-spacing: -1px;
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color: #17365d;
    }
    #daily-deals-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #dailyDeals img {
        border: 5px solid #17365d;
        max-width: 100%;
    }
    .available-deals {
        text-align: center;
    }
    .deal-section {
        display: inline-block;
        width: 25%;
        padding: 10px;
    }
    /* Tablet Stylings */
    @media screen and (max-width: 1050px) and (min-width: 565px) {
        .deal-section { width:33.333%; }
    }
    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        .deal-section { width:100%;padding:0px; }
    }
</style>

<div class="main-wrapper" id="dailyDeals">
    <div class="main-container" style="background-color: rgba(255,255,255,.8);">
        <p>At Firkin Group of Pubs, we combine our tastiest dishes and brews into daily features that are sure to satisfy both your appetite and your pocket book. For every day of the week, we offer exciting and affordable Bevvy &amp; Bites specials that have made the "happy hour" obsolete. At Firkin, every hour is a happy hour - with daily drink specials that are available from morning 'til night.</p>
                    
        <div class="available-deals">
            <div class="deal-section">
                <h4>Mondays</h4>
                <img alt="Monday" class="firkin-img-left" src="http://www.firkinpubs.com/img/brews-content/monday.png">
            </div><!--
            --><div class="deal-section">
                <h4>Tuesdays</h4>
                <img alt="Tuesday" class="firkin-img-right" src="http://www.firkinpubs.com/img/brews-content/tuesday.png">
            </div><!--
            --><div class="deal-section">
                <h4>Wednesdays</h4>
                <img alt="Wednesday" class="firkin-img-left" src="http://www.firkinpubs.com/img/brews-content/wednesday.png">
            </div><!--
            --><div class="deal-section">
                <h4>Thursdays</h4>
                <img alt="Thursday" class="firkin-img-right" src="http://www.firkinpubs.com/img/brews-content/thursday.png">
            </div><!--
            --><div class="deal-section">
                <h4>Fridays</h4>
                <img alt="Friday" class="firkin-img-left" src="http://www.firkinpubs.com/img/brews-content/friday.png">
            </div><!--
            --><div class="deal-section">
                <h4>Saturdays</h4>
                <img alt="Saturday" class="firkin-img-right" src="http://www.firkinpubs.com/img/brews-content/saturday.png">
            </div><!--
            --><div class="deal-section">
                <h4>Sundays</h4>
                <img alt="Sunday" class="firkin-img-left" src="http://www.firkinpubs.com/img/brews-content/sunday.png">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>