<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div id="gallery-widget-1cd980aabeab9b5af14236294f70ba29"></div>
        <!-- <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-7f454ed90c444b1a0616861b03a2561c"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>The New and Improved Flatiron</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.588002597898615.1073741826.148178351881044&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
            <div class="event">
                <p>The Flatiron's Relaunch Party</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.635536029811938.1073741829.148178351881044&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
            <div class="event">
                <p>Closed for Renovations</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.564320990266776.1073741825.148178351881044&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div> -->
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"1cd980aabeab9b5af14236294f70ba29","selector":"#gallery-widget-1cd980aabeab9b5af14236294f70ba29","plugins":["gallery"]});
    // unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    // unoapp_widget({"id":"7f454ed90c444b1a0616861b03a2561c","selector":"#gallery-widget-7f454ed90c444b1a0616861b03a2561c","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    // $('a.menu-btn').on('click', function(e) {
    //     e.preventDefault();
    //     var idChosen = $(this).attr('id');
    //     if( idChosen == "food" ) {
    //         $('.food-gallery').slideDown();
    //         $('.location-gallery').slideUp();
    //         $('.events-gallery').slideUp();
    //         $(".menu-btn#food").addClass("selected");
    //         $(".menu-btn#location").removeClass("selected");
    //         $(".menu-btn#events").removeClass("selected");
    //         window.dispatchEvent(new Event('resize'));
    //     } else if ( idChosen == "location" ) {
    //         $('.location-gallery').slideDown();
    //         $('.food-gallery').slideUp();
    //         $('.events-gallery').slideUp();
    //         $(".menu-btn#location").addClass("selected");
    //         $(".menu-btn#food").removeClass("selected");
    //         $(".menu-btn#events").removeClass("selected");
    //         window.dispatchEvent(new Event('resize'));
    //     } else if ( idChosen == "events" ) {
    //         $('.events-gallery').slideDown();
    //         $('.food-gallery').slideUp();
    //         $('.location-gallery').slideUp();
    //         $(".menu-btn#events").addClass("selected");
    //         $(".menu-btn#food").removeClass("selected");
    //         $(".menu-btn#location").removeClass("selected");
    //         window.dispatchEvent(new Event('resize'));
    //     } else {

    //     }
    // });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>