<div id="locations">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><style>
    /* Location Map Stylings */
    body .contact-widget.template-5 {
        font-family: 'Source Sans Pro', sans-serif;
    }
    body .contact-widget.template-5 .search-controls label {
        color: #17365d;
        font-size: 16px;
    }
    body .contact-widget.template-5 .search-controls input[type="submit"] {
        font-family: 'Source Sans Pro', sans-serif;
        background-color: #17365d;
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    body .contact-widget.template-5 .location-details-wrap .display-table {
        font-family: 'Source Sans Pro', sans-serif;
    }
    body .contact-widget.template-5 .search-controls input[type="text"], body .contact-widget.template-5 .search-controls select {
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    body .contact-widget.template-5 .search-location-name {
        color: #c00000;
    }
    body .contact-widget.template-5 .location-details-wrap .location-details-wrapper .search-ribbon-wrapper .search-ribbon {
        background-color: #17365d;
    }
    body .contact-widget.template-5 .location-details-wrap .location-details-wrapper .search-ribbon-wrapper .search-ribbon:after {
        border-top: 15px solid #17365d;
    }
    body .contact-widget.template-5 .location-details-wrap .location-details-wrapper.selected .search-ribbon {
        background-color: #17365d;
    }
    body .contact-widget.template-5 .location-details-wrap .location-details-wrapper.selected .search-ribbon:after {
        background-color: #17365d;
    }
    body .contact-widget.template-5 .location-details-wrap .location-details-wrapper .location-details-full {
        background-color: #17365d;
    }
    body .contact-widget.template-5 .location-details-wrap .location-details-wrapper.selected .search-ribbon:after {
        border-top: 15px solid #17365d;
    }
    body #contact1.main-wrapper {
        padding: 0;
    }
</style>
<div class="main-wrapper" style="padding:50px 0;">
    <h2 style="margin-bottom:25px;text-align:center;padding:0 10px;">Other Firkin Awesome Locations</h2>
    <div class="main-container" style="border:none;">
        <div id="location-widget-f6eb8f764f027d8c2598486200f6b36e"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script>
<script type="text/javascript">
    unoapp_widget({"id":"f6eb8f764f027d8c2598486200f6b36e","selector":"#location-widget-f6eb8f764f027d8c2598486200f6b36e","plugins":["locations"]});
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>