<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12867/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-60ebee353e526f2afd7cb316acb48faf"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"60ebee353e526f2afd7cb316acb48faf","selector":"#menu-widget-60ebee353e526f2afd7cb316acb48faf","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>