<div id="reservations-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

<div class="main-wrapper reservations">
    <div class="main-container">
        <h2>Reserve Now, Don't Worry Later.</h2>

        <p>For reservations, please fill out the form below.</p>

        <p>Please note that all reservations are not confirmed until you have heard back from us via telephone.</p>

        <p>For parties over 10 or same day reservations, please call us at <a href="tel:4163623444">(416) 362-3444.</a>.</p>

        <p>Thank you, and we look forward to seeing you at The Flatiron: A Firkin Pub!</p>

        <form action="javascript:void(0)" id="reservationForm" data-recipient="theflatiron@firkinpubs.com" data-formtype="Flatiron Reservation Form">

            <div id="customSuccessMsg" style="display: none;">
                <div>
                    <h2 class="thanks">Thank You.</h2>
                    <p>Thank you for submitting your reservation.</p>
                    <p>We'll get back to you shortly to confirm your request.</p>
                    <p>If you have further questions, please <a href="mailto:info@unoapp.com">email us</a>.</p>
                    <div onclick="$('#customSuccessMsg').hide();">OK</div>
                </div>
            </div>

            <div id="errorModal" style="display: none;">
                <div>
                    <h2 class="error">Error</h2>
                    <p class="msg">This text will be replaced with the error message.</p>
                    <div onclick="$('#errorModal').hide();">OK</div>
                </div>
            </div>
            
            <div class="left-side">
                <div class="form-row">
                    <label for="Name">Name <span class="required">*</span></label>
                    <input data-name="Name" name="Name" type="text" data-required>
                </div>
                <div class="form-row">
                    <label for="Email">Email <span class="required">*</span></label>
                    <input data-name="Email" name="Email" type="text" data-required data-email>
                </div>
                <div class="form-row">
                    <label for="Phone">Phone #</label>
                    <input data-name="Phone #" name="Phone" type="text">
                </div>
            </div>
            <div class="right-side">
                <div class="form-row">
                    <label for="Date">Requested Date</label>
                    <input data-name="Date" name="Date" type="text" class="datepicker">
                </div>
                <div class="form-row">
                    <label for="Time">Requested Time</label>
                    <input data-name="Time" name="Time" type="text">
                </div>
                <div class="form-row">
                    <label for="Guests"># of Guests</label>
                    <input data-name="Guests" name="Guests" type="text">
                </div>
            </div>
            <div class="clear-both"></div>
            
            <div class="form-row">
                <label for="Comments">Questions / Comments?</label>
                <textarea data-name="Comments" name="Comments"></textarea>
            </div>

            <!-- Form Submission Button -->
            <div onclick="submitReservation();" class="submit-btn">Submit</div>
            <div class="clear-both"></div>
        </form>
    </div>
</div>

<script>
    // Form Functionality
    var successMsg = function(msg) {
        $('#customSuccessMsg').show();
    }
    var errorMsg = function(msg, $elems) {
        $('#errorModal').show();
        $('#errorModal .msg').text(msg);

        // Highlight the input fields with errors
        if ($elems) {
            $elems.addClass('highlighted');
        }
    }
    function submitReservation() {
        submitWebFormById('reservationForm',
            {
                alwaysSubmitEmptyFields: true,
successURL: 'thank-you-reservations.html'
            }
        );
    }
    function loadDatepicker() {
        if (!$.datepicker) {
            setTimeout(loadDatepicker, 100)
        } else {
            $(".datepicker").datepicker();
        }
    }
    loadDatepicker();
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>