<div id="contact-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="contact-widget-fdfa6d88fdea357e4d4a074cb1819426"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"fdfa6d88fdea357e4d4a074cb1819426","selector":"#contact-widget-fdfa6d88fdea357e4d4a074cb1819426","plugins":["contact"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>