<div id="event">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="calender-widget-c2da75514e6c6ef41c4d4e39f4ac975f"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"c2da75514e6c6ef41c4d4e39f4ac975f","selector":"#calender-widget-c2da75514e6c6ef41c4d4e39f4ac975f","plugins":["calendar"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>