<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-85a3f5289b00e08090863c454d85edcd"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <div class="site-btn">
                    <p>Our Instagram!</p>
                    <a href="https://www.facebook.com/media/set/?set=a.829354287090227.1073741829.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676762">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>NYE 2016</p>
                    <a href="https://www.facebook.com/media/set/?set=a.1272767906082194.1073741834.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676760">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Customer Appreciation 2014</p>
                    <a href="https://www.facebook.com/media/set/?set=a.1007275675964753.1073741831.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676753">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Volunteer Builder's Party</p>
                    <a href="https://www.facebook.com/media/set/?set=a.639816042710720.1073741827.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676766">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>St. Patrick's Day 2013</p>
                    <a href="https://www.facebook.com/media/set/?set=a.617077684984556.1073741826.127083790650617&type=1" target="_blank">
                        <img src="https://unoapp.com/img1676764">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Soft Launch Opening</p>
                    <a href="https://www.facebook.com/media/set/?set=a.592457850779873.153121.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676763">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Drake's 5th Anniversary Party</p>
                    <a href="https://www.facebook.com/media/set/?set=a.555264154499243.147464.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676754">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Drake's Renovations</p>
                    <a href="https://www.facebook.com/media/set/?set=a.580880685270923.152155.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676756">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Drake Halloween</p>
                    <a href="https://www.facebook.com/media/set/?set=a.538588676166791.144311.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676755">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Movember at the Drake</p>
                    <a href="https://www.facebook.com/media/set/?set=a.540374952654830.144698.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676759">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Firkin Luau</p>
                    <a href="https://www.facebook.com/media/set/?set=a.496012173757775.133063.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676757">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>New Patio Party</p>
                    <a href="https://www.facebook.com/media/set/?set=a.477557982269861.129023.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676761">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Charity Golf Tournament 2012</p>
                    <a href="https://www.facebook.com/media/set/?set=a.485076114851381.130448.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676749">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>2011 Staff Christmas Party</p>
                    <a href="https://www.facebook.com/media/set/?set=a.377399362285724.109248.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676765">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>St. Patrick's Day 2011</p>
                    <a href="https://www.facebook.com/media/set/?set=a.207643102594685.62945.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676750">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>The Big 4-0</p>
                    <a href="https://www.facebook.com/media/set/?set=a.188443351181327.53338.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676752">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Charity Golf Tournament 2011</p>
                    <a href="https://www.facebook.com/media/set/?set=a.376803239012003.109163.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676758">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Staff Christmas Party</p>
                    <a href="https://www.facebook.com/media/set/?set=a.181330668559262.49283.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676751">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <div class="site-btn">
                    <p>Drake's 3rd Anniversary Party</p>
                    <a href="https://www.facebook.com/media/set/?set=a.178598718832457.48182.127083790650617&type=3" target="_blank">
                        <img src="https://unoapp.com/img1676748">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"85a3f5289b00e08090863c454d85edcd","selector":"#gallery-widget-85a3f5289b00e08090863c454d85edcd","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>