<div id="reservations-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"> -->

<div class="main-wrapper reservations">
    <div class="main-container">
        <h2>Reserve Now, Don't Worry Later.</h2>

        <p>For reservations, please fill out the form below.</p>

        <p>Please note that all Reservations are not confirmed until you have heard back from us via telephone.</p>

        <p>For parties over 10 or same day reservations, please call us at <a href="tel:9055679173">(905) 567-9173</a>.</p>

        <p>Thank you, and we look forward to seeing you at Drake: A Firkin Pub!</p>

        <div class="ot-widget"></div>

        <script>
            var initFancybox = function() {};
            // window.pendingCallbacks = {};
            document.write = function(html) { $('.ot-widget').append(html); }
            jQuery.browser = {};
            (function () {
                jQuery.browser.msie = false;
                jQuery.browser.version = 0;
                if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                    jQuery.browser.msie = true;
                    jQuery.browser.version = RegExp.$1;
                }
            })();

            var loadScript = function(src, callback, dont_queue_callback) {
                // Look for an existing script tag of the same src
                var script_tags = document.getElementsByTagName("script");
                for (var i = 0; i < script_tags.length; i++) {
                    // Script tag already exists
                    if (script_tags[i].src == src) {
                        // If we don't want duplicate callbacks, run away - NOW.
                        if (dont_queue_callback) {
                            return;
                        } else {
                            // Run callback immediately, if the the script has already executed its pending callbacks
                            if (typeof pendingCallbacks[src] == 'undefined') {
                                callback();
                            // Otherwise, queue the callback to the script tag
                            } else {
                                pendingCallbacks[src].push(callback);
                            }
                        }

                        return;
                    }
                }

                // Create new script tag
                var bodyTag = document.getElementsByTagName("body")[0];
                var script_tag = document.createElement('script');
                script_tag.type = 'text/javascript';
                script_tag.src = src;

                // Append callback to array
                if (typeof pendingCallbacks == 'undefined') window.pendingCallbacks = {};
                if (typeof pendingCallbacks[src] == 'undefined') pendingCallbacks[src] = [];
                if (typeof callback == 'function') pendingCallbacks[src].push(callback);

                // Executes all pending callbacks for this script tag
                var executeCallbacks = function() {
                    if (typeof pendingCallbacks[src] == 'undefined') return;
                    for (var i = 0; i < pendingCallbacks[src].length; i++) {
                        var callback = pendingCallbacks[src][i];
                        if (typeof callback == 'function') {
                            callback();
                        }
                    }
                    // Remove all pending callbacks so they can't be called again
                    delete pendingCallbacks[src];
                }

                if (script_tag.readyState) {
                    script_tag.onreadystatechange = function() { // For old versions of IE
                        if (this.readyState == 'complete' || this.readyState == 'loaded') {
                            executeCallbacks();
                        }
                    };
                } else {
                    script_tag.onload = executeCallbacks;
                }
                bodyTag.appendChild(script_tag);
            }
            loadScript('https://secure.opentable.com/frontdoor/default.aspx?rid=81490&restref=81490&bgcolor=F6F6F3&titlecolor=0F0F0F&subtitlecolor=0F0F0F&btnbgimage=https://secure.opentable.com/frontdoor/img/ot_btn_red.png&otlink=FFFFFF&icon=dark&mode=tall', initFancybox, false);
        </script>

        <!--<script type="text/javascript" src="https://secure.opentable.com/frontdoor/default.aspx?rid=81490&restref=81490&bgcolor=F6F6F3&titlecolor=0F0F0F&subtitlecolor=0F0F0F&btnbgimage=https://secure.opentable.com/frontdoor/img/ot_btn_red.png&otlink=FFFFFF&icon=dark&mode=tall"></script>-->

        <!-- <form action="javascript:void(0)" id="reservationForm" data-recipient="drakefirkinpub@bellnet.ca" data-formtype="Drake Reservation Form">

            <div id="customSuccessMsg" style="display: none;">
                <div>
                    <h2 class="thanks">Thank You.</h2>
                    <p>Thank you for submitting your reservation.</p>
                    <p>We'll get back to you shortly to confirm your request.</p>
                    <p>If you have further questions, please <a href="mailto:info@unoapp.com">email us</a>.</p>
                    <div onclick="$('#customSuccessMsg').hide();">OK</div>
                </div>
            </div>

            <div id="errorModal" style="display: none;">
                <div>
                    <h2 class="error">Error</h2>
                    <p class="msg">This text will be replaced with the error message.</p>
                    <div onclick="$('#errorModal').hide();">OK</div>
                </div>
            </div>
            
            <div class="left-side">
                <div class="form-row">
                    <label for="Name">Name <span class="required">*</span></label>
                    <input data-name="Name" name="Name" type="text" data-required>
                </div>
                <div class="form-row">
                    <label for="Email">Email <span class="required">*</span></label>
                    <input data-name="Email" name="Email" type="text" data-required data-email>
                </div>
                <div class="form-row">
                    <label for="Phone">Phone #</label>
                    <input data-name="Phone #" name="Phone" type="text">
                </div>
            </div>
            <div class="right-side">
                <div class="form-row">
                    <label for="Date">Requested Date</label>
                    <input data-name="Date" name="Date" type="text" class="datepicker">
                </div>
                <div class="form-row">
                    <label for="Time">Requested Time</label>
                    <input data-name="Time" name="Time" type="text">
                </div>
                <div class="form-row">
                    <label for="Guests"># of Guests</label>
                    <input data-name="Guests" name="Guests" type="text">
                </div>
            </div>
            <div class="clear-both"></div>
            
            <div class="form-row">
                <label for="Comments">Questions / Comments?</label>
                <textarea data-name="Comments" name="Comments"></textarea>
            </div>

            <div onclick="submitReservation();" class="submit-btn">Submit</div>
            <div class="clear-both"></div>
        </form> -->
    </div>
</div>

<script>
    // var successMsg = function(msg) {
    //     $('#customSuccessMsg').show();
    // }
    // var errorMsg = function(msg, $elems) {
    //     $('#errorModal').show();
    //     $('#errorModal .msg').text(msg);

    //     if ($elems) {
    //         $elems.addClass('highlighted');
    //     }
    // }
    // function submitReservation() {
    //     submitWebFormById('reservationForm',
    //         {
    //             alwaysSubmitEmptyFields: true,
    //             successURL: 'thank-you-reservations.html'
    //         }
    //     );
    // }
    // function loadDatepicker() {
    //     if (!$.datepicker) {
    //         setTimeout(loadDatepicker, 100)
    //     } else {
    //         $(".datepicker").datepicker();
    //     }
    // }
    // loadDatepicker();
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>