<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset68065/images/new_menu_bg_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-d7c0dd659434aa404014db7fb231e932"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"d7c0dd659434aa404014db7fb231e932","selector":"#menu-widget-d7c0dd659434aa404014db7fb231e932","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>