<div id="event">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="calender-widget-e2b3b4390c4a0367d1fe0f1cc60bde58"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"e2b3b4390c4a0367d1fe0f1cc60bde58","selector":"#calender-widget-e2b3b4390c4a0367d1fe0f1cc60bde58","plugins":["calendar"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>