<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><link id="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #reservations-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #reservations-2 div.widget-section {
        background-color: transparent !important;
        background-image: url("https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405") !important;
        background-size: cover;
    }
    /* Shared Stylings */
    .main-wrapper {
        padding: 100px 0;
    }
    .main-wrapper.reservations .main-container {
        max-width: 1160px;
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(0,0,0,.3);
        font-family: 'Source Sans Pro';
        font-size: 14px;

        color: #fff;
        border: 1px solid rgba(255,0,0,.1);
    }
    .main-wrapper.reservations .main-container h2 {
        margin: 0 0 15px;
        font-size: 26px;
        font-family: 'Oswald';
        text-transform: uppercase;
        color: #c00000;
    }
    .main-container a {
        text-decoration: none;
        color: #c00000;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    .main-container a:hover {
        color: #ccc;
    }
    /* Reservations Stylings */
    .main-wrapper.reservations .main-container .left-side {
        float: left;
        width: 49%;
    }
    .main-wrapper.reservations .main-container .right-side {
        float: right;
        width: 49%;
    }
    .main-container form {
        margin-top: 15px;
    }
    .main-container form .required {
        color: #c00000;
    }
    .main-container .form-row {
        margin: 10px 0;
    }
    .datepicker {
        border-radius: 0 !important;
    }
    .main-container form input[type="text"], .main-container form select, .main-container form textarea {
        width: 100%;
        padding: 10px;
        background-color: rgba(0,0,0,.5);
        border: 1px solid rgba(255,255,255,.5);
        color: #fff;
        font-size: 14px;
    }
    .main-container form textarea {
        resize: none;
        height: 100px;
    }
    .main-container form label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: #fff;
    }
    .main-container form .submit-btn {
        float: right;
        cursor: pointer;
        padding: 10px;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        border: 1px solid rgba(255,255,255,.5);
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .main-container form .submit-btn:hover {
        border: 1px solid #c00000;
    }
    .main-container form input[type="text"], .main-container form select, .main-container form textarea {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
    }
    .main-container form input[type="text"]:focus, .main-container form select:focus, .main-container form textarea:focus {
        box-shadow: 0 0 5px #c00000;
    }
    .main-container form #customSuccessMsg {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
    }
    .main-container form #errorModal {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
    }
    .main-container form #customSuccessMsg .modal-center {
        position: absolute;
        width: 240px;
        height: 270px;
        top: 50%;
        margin-top: -135px;
        left: 50%;
        color: #fff;
        margin-left: -120px;
        z-index: 100;
        padding: 10px;
        padding-bottom: 50px;
        background-color: #000;
        border: 1px solid #0c0c2b;
    }
    .main-container form #errorModal .modal-center {
        position: absolute;
        width: 240px;
        height: 140px;
        top: 50%;
        margin-top: -70px;
        left: 50%;
        color: #fff;
        margin-left: -120px;
        z-index: 100;
        padding: 10px;
        padding-bottom: 50px;
        background-color: #000;
        border: 1px solid #0c0c2b;
    }
    .main-container form #customSuccessMsg .modal-center h2.thanks {
        color: green;
    }
    .ok-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        color: #fff;
        background-color: rgba(0,0,0,.3);
        border-top: 1px solid #0c0c2b;
        font-size: 12px;
    }
    ::-webkit-input-placeholder {
       color: #0c0c2b;
    }
    ::-moz-placeholder {
       color: #0c0c2b;  
    }
    :-ms-input-placeholder {  
       color: #0c0c2b;  
    }
    /* Tablet Stylings */
    @media screen and (max-width: 959px) and (min-width: 565px) {
        .main-wrapper { padding:50px 0; }
    }
    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        .main-wrapper { padding:50px 0; }
        .main-wrapper.reservations .main-container .left-side { float:none;width:100%; }
        .main-wrapper.reservations .main-container .right-side { float:none;width:100%; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>