<div id="thanks">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper thanks">
    <div class="main-container">
        <h2>Thank you for the feedback!</h2>

        <p>We value your time and appreciate you using it to let us know how we did or just to drop us a line.</p>

        <h2 style="margin:0;">We look forward to seeing you again soon at your local Firkin pub.</h2>
    </div>
</div></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>