<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12819/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-6c977ffd24ca1cf2de38167dde804376"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"6c977ffd24ca1cf2de38167dde804376","selector":"#menu-widget-6c977ffd24ca1cf2de38167dde804376","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>