<div id="disclaimers-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><style>
    .main-wrapper {
        background-color: #fff;
        border-bottom: 2px solid #c00000;
    }
    .main-container {
        text-align: center;
    }
    .main-container p {
        margin: 0;
        font-size: 16px;
        font-family: Muli;
        line-height: 1.4;
        color: #000000;
    }
    .fake-cell.heading {
        background-color: #253F8E !important;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        border-bottom: 1px solid #4d4d4d;
    }
    .fake-table {
        margin-bottom: 15px;
        display: table;
        width: 100%;
        border: 1px solid #4d4d4d;
        /*border-collapse: collapse;*/
    }
    .fake-row {
        display: table-row;
    }
    .fake-row:nth-child(even) {
        background-color: #f2f2f2;
    }
    .fake-cell {
        display: table-cell;
        padding: 10px;
        font-size: 14px;
        font-family: Muli;
        text-align: left;
        vertical-align: middle;
    }
    .fake-cell:nth-child(2) {
        border-left: 1px solid #4d4d4d;
        border-right: 1px solid #4d4d4d;
    }
    .firkin-btn {
        display: inline-block;
        width: 33.333%;
        padding: 5px;
    }
    .firkin-btn a {
        display: block;
        padding: 10px;
        font-family: 'Oswald';
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid #16A1DB;
    }
    .firkin-btn a:hover {
        color: #253F8E;
        border: 2px solid #c00000;
    }
    /* Tablet Stylings */
    @media screen and (max-width: 959px) and (min-width: 565px) {
        .firkin-btn { width:50%; }
    }
    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        .firkin-btn { width:100%; }
    }
</style>

<div class="main-wrapper">
    <div class="main-container">
        <p style="margin:0 0 15px;font-style:italic;font-weight:700;">The average adult requires approximately 2,000 to 2,400 calories per day; however, individual calorie needs may vary.</p>

        <div class="firkin-btn">
            <a href="https://images.unoapp.com/boxdata/asset67959/images/Firkin_Main_Menu_A.pdf" target="_blank">
                Download our Menu
            </a>
        </div><!--
        --><div class="firkin-btn">
            <a href="https://images.unoapp.com/boxdata/asset67959/images/Firkin_Brunch_A.pdf" target="_blank">
                Download our Brunch Menu
            </a>
        </div><!--
        --><div class="firkin-btn">
            <a href="https://images.unoapp.com/boxdata/asset67959/images/Nutritional_Guide_2017.pdf" target="_blank">
                Nutritional Information
            </a>
        </div>

        <div class="clear-both" style="height:15px;"></div>

        <div class="fake-table">
            <div class="fake-row">
                <div class="fake-cell heading">
                    Standard Alcoholic Beverages
                </div>
                <div class="fake-cell heading">
                    Standard Serving Size
                </div>
                <div class="fake-cell heading">
                    Approximate Average Calories per Standard Serving Size
                </div>
            </div>
            <div class="fake-row">
                <div class="fake-cell">
                    Red Wine (12%)
                </div>
                <div class="fake-cell">
                    1 glass (142 mL / 5 oz)
                </div>
                <div class="fake-cell">
                    130
                </div>
            </div>
            <div class="fake-row">
                <div class="fake-cell">
                    White Wine (12%)
                </div>
                <div class="fake-cell">
                    1 glass (142 mL / 5 oz)
                </div>
                <div class="fake-cell">
                    120
                </div>
            </div>
            <div class="fake-row">
                <div class="fake-cell">
                    Regular Beer (5%)
                </div>
                <div class="fake-cell">
                    1 bottle (341 mL)
                </div>
                <div class="fake-cell">
                    150
                </div>
            </div>
            <div class="fake-row">
                <div class="fake-cell">
                    Light Beer (4%)
                </div>
                <div class="fake-cell">
                    1 bottle (341 mL)
                </div>
                <div class="fake-cell">
                    100
                </div>
            </div>
            <div class="fake-row">
                <div class="fake-cell">
                    Spirits (40%)
                </div>
                <div class="fake-cell">
                    1 shot (43 mL / 1 &frac12; oz)
                </div>
                <div class="fake-cell">
                    100
                </div>
            </div>
        </div>

        <p>Note: Actual calories of alcoholic beverages may vary; the addition of mixes will increase the calories of these beverages. Standard serving sizes are based on one drink as outlined in Canada's Low-Risk Alcohol Drinking Guidelines.</p>
    </div>
</div></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>