<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset58257/images/new_menu_bg_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-9559ecbd060416d0b3c75c1f813dfe59"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"9559ecbd060416d0b3c75c1f813dfe59","selector":"#menu-widget-9559ecbd060416d0b3c75c1f813dfe59","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>