<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-2e59c3c5f6d83c729c1e6bdef94771dd"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>Anarchy Saturdays: Halloween Edition</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.1016471545061610.1073741844.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>5th Year Anniversary</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.950184735023625.1073741843.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>St. Patrick's Day 2015</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.898809986827767.1073741842.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Anarchy Saturdays: Green Glow Edition</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.897258786982887.1073741841.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>King 4 Year Bash</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.762692113772889.1073741839.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Anarchy Saturdays - April 12</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.721833237858777.1073741838.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Anarchy Saturdays - April 5th</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.721831684525599.1073741837.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Anarchy Saturdays - March 29th</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.714335068608594.1073741836.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Anarchy Saturdays - March 22</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.714326671942767.1073741835.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Anarchy Saturdays Launch Party - March 1st</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.699716806737087.1073741830.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Kings Big 3</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.570211646354271.1073741827.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Volunteer Builders Fundraiser</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.531690480206388.1073741826.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>St. Patrick's Day Party 2012</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.355117134530391.87531.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Halloween at Firkin on King 2011</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.270891372952968.72066.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Santa Pub Crawl 2011</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.288062881235817.74950.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Firkin on King 1 Year Anniversary Party</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.221525701222869.61781.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Grand Opening Party Pictures</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.159618807413559.36703.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Firkin on King - Renovation Photos</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.145618258813614.32429.137566179618822&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"2e59c3c5f6d83c729c1e6bdef94771dd","selector":"#gallery-widget-2e59c3c5f6d83c729c1e6bdef94771dd","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>