<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-a98f235abc23373706aa5836c2676add"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"a98f235abc23373706aa5836c2676add","selector":"#profile-widget-a98f235abc23373706aa5836c2676add","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>