<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset7452/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-c9ef85ec8884f027bec9a3e925ee263c"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"c9ef85ec8884f027bec9a3e925ee263c","selector":"#menu-widget-c9ef85ec8884f027bec9a3e925ee263c","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>