<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-dcdf5e3942f03ee001c27483cff56f57"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>Our Instagram!</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.286991717984775.88967.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The New &amp; Improved Churchmouse</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.825308370819771.1073741828.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Reopening: Friends &amp; Family</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.819744251376183.1073741827.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Customer Appreciation Party 2012</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.555321057818505.145591.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Halloween 2012</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.545297515487526.143639.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>8th Anniversary Party</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.485028811514397.128440.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Halloween 2011</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.323400481010565.98010.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Customer Appreciation Party 2011</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.320297797987500.97533.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>St. Patrick's Day 2011</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.213366445347303.65286.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Halloween 2010</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.213366208680660.65285.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Halloween 2008</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.213365532014061.65281.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Halloween 2007</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.213364942014120.65280.213323698684911&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"dcdf5e3942f03ee001c27483cff56f57","selector":"#gallery-widget-dcdf5e3942f03ee001c27483cff56f57","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>