<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset7452/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-74bd8e84b9c099031d7e89dc7ab16da9"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"74bd8e84b9c099031d7e89dc7ab16da9","selector":"#menu-widget-74bd8e84b9c099031d7e89dc7ab16da9","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>