<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-beffd592e4b8f1ce26418339690e319d"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"beffd592e4b8f1ce26418339690e319d","selector":"#profile-widget-beffd592e4b8f1ce26418339690e319d","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>