<div id="contact-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="contact-widget-9f6d34aa8e6f21a585ba7001873b46a5"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"9f6d34aa8e6f21a585ba7001873b46a5","selector":"#contact-widget-9f6d34aa8e6f21a585ba7001873b46a5","plugins":["contact"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>