<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12809/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-767a48a895bd81c8b38773b6b934f43e"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"767a48a895bd81c8b38773b6b934f43e","selector":"#menu-widget-767a48a895bd81c8b38773b6b934f43e","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>