<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12809/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-f4aa3f61823eb0e65237bbeae4bbae31"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"f4aa3f61823eb0e65237bbeae4bbae31","selector":"#menu-widget-f4aa3f61823eb0e65237bbeae4bbae31","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>