<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		<div style="background-color: ">
			<span><link id="http://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    .contact_widget_body.contact_layout_5 > div.col-sm-12 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .contact_widget_body.contact_layout_5 {
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
        border-top: none;
        padding-bottom: 50px;
    }
    /* Contact Stylings */
    .contact_widget_body.contact_layout_5 {
        color: #fff !important;
        font-family: 'Source Sans Pro';
    }
    .contact_widget_body.contact_layout_5 .section-1 > h5 {
        color: #c00000 !important;
        font-family: 'Oswald';
        font-weight: 700;
    }
    .contact_widget_body.contact_layout_5 a {
        color: #fff !important;
    }
    .contact_widget_body.contact_layout_5 a:hover {
        color: #c00000 !important;
    }
    .contact_widget_body.contact_layout_5 h5 {
        color: #c00000 !important;
    }
    .contact_widget_body.contact_layout_5 .section-1 {
        margin-top: 50px;
    }
    .contact_widget_body.contact_layout_5 .section-2 h5 {
        font-family: 'Oswald';
        font-size: 18px;
    }
    .follow-section {
        display: none;
    }
    /* Mobile Stylings */
    @media (max-width: 768px) {
        .contact_widget_body.contact_layout_5 .section-2 > div:first-child { border:none !important; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>