<div id="contact-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="contact-widget-2727dd67456893041e6fb8cd86d8f5f2"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"2727dd67456893041e6fb8cd86d8f5f2","selector":"#contact-widget-2727dd67456893041e6fb8cd86d8f5f2","plugins":["contact"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>