<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-d10580737b0c5ce73438d5e9cdd0e02a"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>Robbie Burns Day 2015</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.767644653305147.1073741835.109039372499015&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Robbie Burns Day 2013</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.426992224037060.92862.109039372499015&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Frog: Post Renovations!</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.400771449992471.88112.109039372499015&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Frog: Our New Look</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.400735146662768.88104.109039372499015&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Old Frog &amp; Firkin Layout!</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.343731249029825.73162.109039372499015&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Robbie Burns Day</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.119846698084949.18340.109039372499015&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"d10580737b0c5ce73438d5e9cdd0e02a","selector":"#gallery-widget-d10580737b0c5ce73438d5e9cdd0e02a","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>