<div id="specials-2">	
	<div class="widget-section pagesection  " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/menu-bg1.jpg?r=151006044211');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-ac2c2d25b3729d55129b9e24fdea27f0"></div><script type="text/javascript" src="//unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"ac2c2d25b3729d55129b9e24fdea27f0","selector":"#menu-widget-ac2c2d25b3729d55129b9e24fdea27f0","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>