/*  General  */
:before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: "Open Sans";
	width: 100%;
}
body.mobile-nav-open {
    overflow: hidden !important;
}
button {
	outline: none !important;
}
.pull-right {
	float: right!important;
}
.pull-left {
	float: left!important;
}
@font-face {
	font-family: "Webbuilder Font";
	src: url('../fonts/webbuilder_font.eot');
	src: url('../fonts/webbuilder_font.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/webbuilder_font.ttf'),
	     url('../fonts/webbuilder_font.svg'),
	     url('../fonts/webbuilder_font.woff');
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.25s ease;
}
.clear-both {
	clear: both;
}
.wrapper {
	width: 80%;
    margin: 0 auto;
}
.webbuilder-font {
	font-family: "Webbuilder Font";
	font-size: 200%;
	line-height: 0.7;
}
#page-section {
    overflow: hidden;
}
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 
@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}
	
.hide { 
	display: none!important;
}
.clear-both {
    clear: both;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/*  Nav Styling  */
#navbar_wrap {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	height: 80px;
}
#navbar_wrap #header-main {
	width: 90%; 
	float: left;
}
.nav-bar {
	display: block;
	position: relative;
	/*width: 80%;*/
	margin: 0;
	padding: 0;
	height: auto;
	top: 0;	
}
#nav_main {
	padding: 0;
    margin: 0;
	float: right;
}
#nav_main > li {
	display: inline-block;
}	
#navbar_wrap #nav_main li:hover {
	text-decoration: none;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
#navbar_wrap #nav_main li:before {
	content: "";
}
#navbar_wrap #nav_main a {
	display: block;
	-webkit-transition: color 0.5s ease;
	transition: color 0.5s ease;
	padding: 30px 10px;
	cursor: pointer;
	font-size: 14px;
}
#navbar_wrap #nav_main a:hover {
	text-decoration: none;
}
#navbar_wrap #nav_main.uppercase {
	text-transform: uppercase;
}
#navbar_wrap #nav_main li.active a span {
	border-bottom: 2px solid;
	padding-bottom: 6px;
	-webkit-transition: border-color 0.6s ease;
    transition: border-color 0.6s ease;
}
#nav_main.colornav {
	color: #121212;
}
#navbar_wrap .logo-header {
	float: left;
	width: 10%;
	height: 80px;
    padding: 0px;
    text-align: center;
}	
#navbar_wrap .logo-header img {
	max-width: 95px;
	max-height: 76px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#navbar_wrap.bgnav {
    padding-bottom: 0;
    box-shadow: 0 11px 14px -10px #333;
    width: 100%;
    -webkit-transition: width 0.5s linear, background 0.4s ease;;
    transition: width 0.5s linear, background 0.4s ease;;
}
#navbar_wrap.bgnav #nav_main a {
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
/*  CONTROLS - Toggle / Button   */
#nav-main-controls { 
	display: none; 
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	position: fixed;
    top: 0;
    left: 0;
}
#nav-main-toggle {
	width: 50px;
    height: 50px;
	cursor: pointer;
    overflow: hidden;
    left: 0;
	top: 0;
	position: absolute;
	padding: 10px;
	margin: 0;
	border: 0;
    background-color: transparent;
    visibility: hidden;
    display: block;
}
#nav-main-toggle > .icon-bar {
	width: 100%;
    max-width: 25px;
    height: 4px;
    display: block;
    margin: 0px;
    padding: 0;
    position: absolute;
    border-radius: 1px;
}
#nav-main-toggle > .icon-bar.icon-bar-top {
	top: 15px;
	-webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: top 0.1s 0.1s, transform 0.1s 0s;
    transition: top 0.1s 0.1s, transform 0.1s 0s;
}
#nav-main-toggle > .icon-bar.icon-bar-middle {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
#nav-main-toggle > .icon-bar.icon-bar-bottom {
    bottom: 15px;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    -webkit-transition: bottom 0.1s 0s, transform 0.1s 0.1s;
    transition: bottom 0.1s 0.1s, transform 0.1s 0s;
}
#nav-main-toggle:focus, #nav-main-toggle > .icon-bar:focus {
	outline: none;
}
/*  CONTROLS - .mobile-open  */
#header-main.mobile-open .icon-bar.icon-bar-top { 
	top: 50%; 
	-webkit-transform: translate(0, -50%) rotate(45deg); 
	transform: translate(0, -50%) rotate(45deg); 
	-webkit-transition: top 0.1s 0s, transform 0.1s 0.1s; 
	transition: top 0.1s 0s, transform 0.1s 0.1s; 
}
#header-main.mobile-open .icon-bar.icon-bar-middle { 
	opacity: 0; 
}
#header-main.mobile-open .icon-bar.icon-bar-bottom { 
	bottom: 50%; 
	-webkit-transform: translate(0, 50%) rotate(-45deg); 
	transform: translate(0, 50%) rotate(-45deg); 
	-webkit-transition: bottom 0.1s 0s, transform 0.1s 0.1s; 
	transition: bottom 0.1s 0s, transform 0.1s 0.1s; 
}
/*  Nav Mobile Options */
#mobile_options {
	display: none;
	position: fixed;
	right: 15px;
	z-index:2;
}
#mobile_options > div {
	padding: 5px;
}
#mobile_options a {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
}		
#mobile_options span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
}
/*  Nav Main Content - mobile-open  / .nav-main-toggle */
#header-main.mobile-open {
	position: fixed;
	height: 100vh;
	width: 100%;
	left: 0;
}
#header-main.mobile-open .nav-bar {
    display: block;
    width: 100%;
    overflow: auto;
}
#header-main.mobile-open ul#nav_main {
	float: right;
   	width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    display: block;
	text-align: center;
}
#header-main.mobile-open #nav_main li {
	display: block;
	height: auto;
	width: 100%;
	margin: 0;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
#header-main.mobile-open #nav_main a {
	font-size: 18px;
	padding: 5px 0;
	letter-spacing: 1px;
}
#header-main.mobile-open #nav_main a:hover {
	width: 100%;
}
/*  Header Styling  */
#header_wrap {
	position: relative;
	height: 100vh;
	z-index: 3;
}
#header_wrap.large:not(.short-head) {
	min-height: 1045px;
}	
#header_wrap.medium:not(.short-head) {
	min-height: 820px;
}
#header_wrap.small:not(.short-head) {
	min-height: 585px;
}
#header_wrap .bg-parallax {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;	
	width: 100%;
	display: block;
	background-position: 50% 50%;
}
#header_wrap .bg-parallax.repeated {
	background-repeat: repeat;
    background-size: auto;
}
#header_wrap .bg-parallax.parallax {
	background-attachment: fixed;
}
#header_wrap .wrapper {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;	
	padding-top: 60px;	
	text-align: center;
}
/*  Header - .logo  */
#header_wrap .logo {
	top: 150px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
/*  Header - .headline  */
#header_wrap .headline {
	position: absolute;
	width: 100%;
	bottom: 20%;
}
#header_wrap.short-head .headline {
	/*bottom: 45%;*/
	top: calc(50%);
}
#header_wrap .h1,
#header_wrap .h2 {
	margin: 10px;
}
/*  Header - .social  */
#header_wrap #social {
	position: absolute;
	bottom: 30px;
	width: 100%;
}
#header_wrap .logo.large {
	width: 90%;
	padding-top: 90%;
	max-width: 675px;
}
#header_wrap .logo.medium {
	width: 66%;
	padding-top: 66%;
   	max-width: 495px;
}
#header_wrap .logo.small {
	width: 40%;
	padding-top: 40%;
	max-width: 300px;   
}
.widget-section .headline-content, .widget-section .subhead-content {
	text-align: center;
	color: #fff;
}
.widget-section .widget-headlineui, .widget-section .widget-subheadui {
	width: 65%;
	margin: 0 auto;
}
.widget-section .widget-headlineui h1, .widget-section .widget-subheadui h2 {
	margin: 10px 0px;
}
/*  Social Styles  */
.web-social-home > div.social-btn {
	display: inline-block;
	vertical-align: top;
	margin: 25px 10px 5px;
}
.web-social-home > div.social-btn:hover {
	opacity: 0.8;
}
.web-social-home .social-btn a {
	text-decoration: none;
	width: 45px;
	height: 43px;
	display: block;
}
.web-social-home .social-btn span {
	font-size: 54px;
}		
.web-social-home > div.social-btn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0) !important;
}
/*  Arrow  */
#header_wrap .arrow-ani {		
	font-size: 50px;
	cursor: pointer;
}
#header_wrap .arrow-ani:hover {
	bottom: -50px;
}
#header_wrap .arrow-ani a {
	font-size: 30px;
}
/*  Header - .short-head  */
#header_wrap.short-head {
	min-height: 200px;
}
#header_wrap.short-head .wrapper {
	margin-top: 0;
}
/*  Widget Styles  */
div.widget-section {
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	height: auto;
	background-color: #ddd;
	padding: 100px 0px 100px;
	position: relative;
}
.widget-section {
	z-index: 4;
}
.widget-section.z-override {
    z-index: 50 !important;
}
#page-section > div:not(#header) {
	z-index: 4;
}
#page-section > div:not(#header) > div {
	z-index: 4;
}
div.widget-section.repeated {
	background-repeat: repeat;
    background-size: initial;
}
div.widget-section > div {
	max-width: 1160px;
	margin: 0 auto;
	padding: 15px;
}
.map-fold.widget-section {
	padding: 0px;
}
.map-fold.widget-section > div {
	max-width: none;
	padding: 0px;
}
/*  Footer Social  */
#soc_med_bar .web-social-list {	
	padding: 30px;
}
#soc_med_bar {
	position: relative;
}
#soc_med_bar ul.social {
	text-align: center;
	margin-bottom: 0px;
	padding-left: 0px;
}
#soc_med_bar ul.social li {
	display: inline-block;
	margin-top: 5px;
}
#soc_med_bar .social a {
	text-decoration: none;
	width: 45px;
    height: 49px;
    display: block;
}
#soc_med_bar .social span {
	font-size: 350%;
    margin: 0px 10px;
    line-height: 1;
}
/*  Footer Styling  */
.footer {
	height: 67px;
	position: relative;
}
.footer img {
	width: 175px;
}
.footer.adx {
	height: 98px;
}
.footer.adx > a > * {
	margin: 10px 10px 0px;
}
.footer.adx > a:last-child > img {
	width: 120px;
    margin-top: 29px;
}
.footer img.gshift {
	width: 125px; 
	margin: 4px 10px 0px;
}
.footer.adx img.gshift {
	width: 120px;
    margin: 10px;
    position: absolute;
    right: 130px;
    top: 11px;
}
#page-section {
	position: relative;
}
#page-section:before {
	z-index: 0;
}

.uno-carousel-case {
	width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
#page-section .uno-carousel {
	height: 100vh;
}
.uno-carousel {
	height: calc(100vh - 55px);
    position: absolute;
    top: 0px;
    left: 0px;
}
#page-section .uno-carousel > div {
	height: 100vh;
}
.uno-carousel > div {
	width: 100vw;
	height: calc(100vh - 55px);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}
.uno-carousel > div.active-slide {
	z-index: 1 !important;
}
.uno-carousel > div.previous-slide {
	z-index: 2 !important;
}
.uno-carousel-arrows {
	z-index: 4;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0px 15px 75px;
    pointer-events: none;
	width: 100vw;
}
.uno-carousel-arrows > div {
	pointer-events: all;
	cursor: pointer;
}

/*  Responsive Width  */
@media (max-width: 1600px) {
	#page-section:before {
		z-index: 1;
	}
	#header_wrap.short-head  {
		min-height: 200px;
	}
	#header_wrap .logo.large {
	    max-width: 575px;
	}
	#header_wrap .logo.medium {
	    max-width: 395px;
	}
	#header_wrap .logo.small {
	    max-width: 250px;
	}
	h1, h2 {
		padding: 0 10px;
	}
	#header_wrap.large:not(.short-head) {
		min-height: 900px;
	}
	#header_wrap.medium:not(.short-head) {
		min-height: 700px;
	}
	#header_wrap.small:not(.short-head) {
		min-height: 510px;
	}
}
@media screen and (max-width: 1400px) {
	#navbar_wrap .wrapper {
		width: 90%;
	}
}
@media screen and (max-width: 1280px) {
	.wrapper {
		width: 90%;
	}
	#header_wrap .head-section {
		width: 90%;
	}
	#header_wrap.short-head  {
		min-height: 200px;
	}
	#navbar_wrap #header-main {
		width: 100%;
	}
	#navbar_wrap .logo-header {
		display: none;
	}
	.nav-bar {
		text-align: center;
	}
	#nav_main {
		float: none;
		text-align: center;
	}
}
@media screen and (max-width: 991px) {
	.element-div {
		width: 100% !important;	
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.element-div > div > * {
		width: 100% !important;
	}
	.element-div > div > a > button {
		width: 100% !important;
	}
	/* display none the nav_main_controls/ nav menu icon */
	.nav-bar {
		position: absolute;
        top: 50px;
		display: none;
	}
	#navbar_wrap .logo-header {
        display: none;
    }
	#header-main #nav_main {
		display: none;
	}
	#nav-main-toggle { 
		visibility: visible; 
	}
	#header_wrap .logo {
		top: 20%;
	}
	#header_wrap .head-section {
		width: 90%;
		padding: 175px 0px ;
	}
	#header_wrap .head-section .headline {
		width: 100%;
	}
	#index #header_wrap .head-section {
		width: 90%;
		padding: 175px 0px ;
	}
	#header-main #nav-main-controls { 
		display: block;
	}
	#navbar_wrap {
		height: 52px;
	}
	#soc_med_bar .social span {
		margin: 0px 2px;
	}
	#header_wrap.large:not(.short-head) {
		min-height: 975px;
	}
	#header_wrap.medium:not(.short-head) {
		min-height: 755px;
	}
	#header_wrap.small:not(.short-head) {
		min-height: 590px;
	}
}
@media screen and (min-width: 768px) {
	.home-layout-1.parallax {
		background-attachment: fixed;
	}
	div.widget-section.parallax {
		background-attachment: fixed;
	}
}
@media screen and (max-width: 767px) {
	.home-layout-1 .encasing {
		width: 100%;
	}
	.home-layout-1 .logo-section img {
	  	max-width: 90%;
	}
  	.profile_widget_body.profile_layout_1 .section-1 h6{font-size: 65px!important;}
  	.home-layout-1 .content-social {
		bottom: 25px;
	 	width: 96%;
		margin-left: 2%;
	}
	div.widget-section {
		padding: 50px 0 50px;
 	}
	.title-section > div {
		width: 98%;
	}
	.web-social-home > div.social-btn {
		margin: 25px 2px 5px;
	}
	#header_wrap .head-section {
		padding: 100px 0px;
	}
	.mobilehead-one {
		font-size: 32px !important;
	}
	.mobilehead-two {
		font-size: 28px !important;
	}
	.mobilehead-three {
		font-size: 24px !important;
	}
	.mobilehead-four {
		font-size: 20px !important;
	}
	.mobilehead-five {
		font-size: 18px !important;
	}
	.mobilehead-six {
		font-size: 16px !important;
	}
	.mobilehead-seven {
		font-size: 14px !important;
	}
	.mobilehead-eight {
		display: none;
	}
	.arrow-ani {
		display: none;
	}
	.footer.adx {
		height: auto;
	}
	.footer.adx > a {
	 	display: block;
	 	text-align: center;
	 	width: 100%;
	 	height: 83px;
	}
	.footer.adx > a:first-child {
		height: 108px;
	}
	.footer.adx > a:last-child {
		height: 60px;
	}
	.footer.adx > a > iframe {
		margin-top: 20px;
	}
	.footer.adx img {
		float: none !important;
	}
	.footer.adx > a:last-child > img {
		margin-top: 0px;
	}
	.footer.adx img.gshift {
		margin-top: 10px;
	   	position: relative;
	   	right: initial;
	   	top: initial;
	}
	#header_wrap.large:not(.short-head) {
		min-height: 840px;
	}
	#header_wrap.medium:not(.short-head) {
		min-height: 625px;
	}
	#header_wrap.small:not(.short-head) {
		min-height: 455px;
	}
}
@media screen and (max-width: 575px) {
	#header_wrap.large:not(.short-head) {
		min-height: 750px;
	}
	#header_wrap.medium:not(.short-head) {
		min-height: 605px;
	}
	#header_wrap.small:not(.short-head) {
		min-height: 440px;
	}
}
@media screen and (max-width: 480px) {
	.wrapper {
		width: 100%;
	}
	#main_wrap {
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.home-layout-1 .web-social-home > div.social-btn {
		margin: 25px 1px 5px;
	}
	#header_wrap.large:not(.short-head) {
		min-height: 615px;
	}
	#header_wrap.medium:not(.short-head) {
		min-height: 505px;
	}
	#header_wrap.small:not(.short-head) {
		min-height: 375px;
	}
}