	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Roboto / Montserrat Font -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
	<!-- Impact Font -->
	<link href="fonts/impactLabel/impact-label.css" rel="stylesheet" type="text/css">

	<link rel='shortcut icon' type='./image/x-icon' href='img/favicon.ico' />

	<link rel="stylesheet" type="text/css" href="fancyBox/jquery.fancybox.css" />
	<link rel="stylesheet" type="text/css" href="css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css" />

	<script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="keywords" content="Firkin Pubs" />
	<meta name="author" content="Evan Paradis" />
	<meta charset="utf-8">
	<meta name="msvalidate.01" content="CD4E919C1D0344817BD5B57FB9AA38EE" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-42524072-1', 'auto');
		ga('send', 'pageview');
	</script>