	<div class="header-spacer"></div>
	<div class="header-wrapper">
		<header>
			<div class="header-table">
				<div class="header-row">
					<div class="header-cell">
					    <a href="home">
							<img src="img/logo.jpg" style="Firkin Group of Pubs Logo">
					    </a>
					    <h5>experience the new breed of British pubs</h5>
					    <!-- <div class="mobile-phone">
							<a href="tel:9053059792">(905) 305-9792</a>
					    </div> -->
					</div>
					<div class="header-cell navigation">
						<ul>
							<li><a href="home" id="homeBtn" class="main-nav"><span>Home</span></a></li><!--
							--><li><a href="menus" id="menusBtn" class="main-nav"><span>Menus</span></a></li><!--
							--><li><a href="brunch" id="brunchBtn" class="main-nav"><span>Brunch</span></a></li><!--
							--><li><a href="drinks" id="drinksBtn" class="main-nav"><span>Drinks</span></a></li><!--
							<li><a href="daily-deals" id="dailyBtn" class="main-nav"><span>Firkin Daily Deals</span></a></li><!--
							--><li><a href="locations" id="locationsBtn" class="main-nav"><span>Find Your Local Firkin Pub</span></a></li><!--
							--><li><a href="careers" id="careersBtn" class="main-nav"><span>Careers</span></a></li>
							<li><a href="contact" id="contactBtn" class="main-nav"><span>Contact</span></a></li>
							<!-- <li><a href="about" id="aboutBtn" class="main-nav"><span>About</span></a></li> -->
							<!-- li><a href="burgers" id="burgersBtn" class="main-nav"><span>Burgers</span></a></li> -->
							<!-- <li><a href="brews" id="brewsBtn" class="res-nav">Brews, Bevvys &amp; Bites</a></li> -->
						</ul>
						<div class="clear"></div>
						<div id="navIcon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<div class="menu-text">Menu</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="responsive-wrapper">
			<div class="responsive-nav">
				<ul>
					<li><a href="home" id="resHomeBtn" class="res-nav">Home</a></li>
					<li><a href="menus" id="resMenusBtn" class="main-nav"><span>Menus</span></a></li>
					<li><a href="brunch" id="brunchBtn" class="main-nav"><span>Brunch</span></a></li>
					<li><a href="drinks" id="resDrinksBtn" class="main-nav"><span>Drinks</span></a></li>
					<li><a href="daily-deals" id="resDailyBtn" class="main-nav"><span>Firkin Daily Deals</span></a></li>
					<li><a href="locations" id="resLocationsBtn" class="res-nav">Find Your Local Firkin Pub</a></li>
					<li><a href="careers" id="resCareersBtn" class="res-nav">Careers</a></li>
					<li><a href="contact" id="resContactBtn" class="res-nav">Contact</a></li>
					<!-- <li><a href="brunch" id="resBrunchBtn" class="main-nav"><span>Brunch</span></a></li> -->
					<!-- <li><a href="about" id="resAboutBtn" class="res-nav">About</a></li> -->
					<!-- <li><a href="brews" id="resBrewsBtn" class="res-nav">Brews, Bevvys &amp; Bites</a></li> -->
					<!-- <li><a href="burgers" id="resBurgersBtn" class="res-nav">Burgers</a></li> -->
				</ul>
			</div>
		</div>
	</div>
