<div id="about-us">	
	<div class="widget-section pagesection  parallax " style="background-image: url('http://images.unoapp.com/boxdata/asset34276/images/main-bg13.jpg');background-color: ">
		<div style="background-color: rgba(255, 255, 255, 0.3)">
			<span><div id="profile-widget-54f8cbe4673dbe71b9ea58727f6353d0"></div><script type="text/javascript" src="http://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"54f8cbe4673dbe71b9ea58727f6353d0","selector":"#profile-widget-54f8cbe4673dbe71b9ea58727f6353d0","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>