<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset68075/images/new_menu_bg_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-a5e764bc336761772a76593088d57fa0"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"a5e764bc336761772a76593088d57fa0","selector":"#menu-widget-a5e764bc336761772a76593088d57fa0","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>