<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-62589344d2db2026136d298f5494cd71"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>Friar's 25th Birthday Party</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.1099932383356206.1073741831.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Friar's 25th Birthday Party - 2</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.1089271344422310.1073741829.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>We are ready for St. Patrick's Day!!</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.812995935383187.1073741827.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Movember 2012</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.576990405650409.148150.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Firkin Moustachio's</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.547212945294822.142810.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Silly Walk Renovation</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.535674176448699.140680.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Construction Begins at the Friar</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.530920423590741.139685.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Movember Fundraiser Party</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.324427627573356.98338.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Movember 2nd Week</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.311254028890716.96276.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Movember 1st Week</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.307428985939887.95439.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Old Friar and Firkin</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.169890676360386.45959.169609106388543&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"62589344d2db2026136d298f5494cd71","selector":"#gallery-widget-62589344d2db2026136d298f5494cd71","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>