<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset68075/images/new_menu_bg_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-c4a696ae8954be3862c9a5ce9d005ac3"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"c4a696ae8954be3862c9a5ce9d005ac3","selector":"#menu-widget-c4a696ae8954be3862c9a5ce9d005ac3","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>