<div id="contact-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="contact-widget-a587e4836c03aa8c1b5cf06b0bf2923d"></div><script type="text/javascript" src="//unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"a587e4836c03aa8c1b5cf06b0bf2923d","selector":"#contact-widget-a587e4836c03aa8c1b5cf06b0bf2923d","plugins":["contact"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>