<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-0b1b5cd0393b68cddc8a29329a95e8bf"></div><script type="text/javascript" src="//www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"0b1b5cd0393b68cddc8a29329a95e8bf","selector":"#menu-widget-0b1b5cd0393b68cddc8a29329a95e8bf","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>