<div id="event">	
	<div class="widget-section pagesection  " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="calender-widget-ba623b82e09302d1ac486d43f825b66e"></div><script type="text/javascript" src="//unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"ba623b82e09302d1ac486d43f825b66e","selector":"#calender-widget-ba623b82e09302d1ac486d43f825b66e","plugins":["calendar"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>