<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-af32dcff00d4cc87530929731a29de45"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>Open Mic Wednesdays<br>
                    February 18th</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10152511885631353.1073741835.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Open Mic Wednesdays<br>
                    March 5th</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10152540582206353.1073741836.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Open Mic Wednesdays<br>
                    December 17th</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10152378474826353.1073741834.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Open Mic Wednesdays<br>
                    October 29th</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10152296162156353.1073741831.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Open Mic Wednesdays<br>
                    November 6th</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10152307926121353.1073741832.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Open Mic Wednesdays<br>
                    November 10th</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10152319024521353.1073741833.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Foosbal 2013 Tournament</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10151508698166353.1073741827.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Bear: A New Breed of British Pub</p>
                <div class="site-btn">
                    <a href="//www.facebook.com/media/set/?set=a.10151342827746353.1073741825.23824866352&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"af32dcff00d4cc87530929731a29de45","selector":"#gallery-widget-af32dcff00d4cc87530929731a29de45","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>