<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-9ddae853c9f3e6624afdaad577663f00"></div><script type="text/javascript" src="//www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"9ddae853c9f3e6624afdaad577663f00","selector":"#menu-widget-9ddae853c9f3e6624afdaad577663f00","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>