<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-de68d55e40beb0898f692c5504f95f6e"></div>
<script type="text/javascript" src="//unoapp.com/app/source/resources/widgets/widget.js"></script>
<script type="text/javascript">
unoapp_widget({"id":"de68d55e40beb0898f692c5504f95f6e","selector":"#profile-widget-de68d55e40beb0898f692c5504f95f6e","plugins":["profile"]});
</script>
</span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>