<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><link id="//fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #gallery-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #gallery-2 div.widget-section {
        background-image: url('//images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405') !important;
        background-position: top center !important;
    }
    #gallery-2 div.widget-section > div {
        border: 1px solid rgba(255,0,0,.1);
    }
    #gallery-2 .main-container {
        background-color: rgba(0,0,0,.3);
    }
    /* Sub-Navigation Stylings */
    .sub-navigation {
        width: 94%;
        margin: 0 auto 15px;
        text-align: center;
    }
    .sub-navigation ul {
        padding: 0;
        list-style-type: none;
    }
    .sub-navigation ul li {
        float: left;
        width: 33.333%;
        padding: 5px;
    }
    .sub-navigation ul li a {
        display: block;
        padding: 10px;
        border: 2px solid transparent;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Oswald';
        font-size: 18px;
        font-weight: 700;
        background-color: rgba(0,0,0,.5);
        color: #fff;
    }
    .sub-navigation ul li a:hover {
        border: 2px solid #c00000;
    }
    .sub-navigation ul li a.selected {
        border: 2px solid #c00000;
    }
    /* Gallery Stylings */
    .gallery_widget_body.gallery_layout_1 .gallery-spotlight > div {
        border: 2px solid #c00000 !important;
    }
    .gallery_widget_body.gallery_layout_1 .gallery-thumbs > div > div {
        border: 1px solid rgba(255,0,0,.3);
    }
    .food-gallery {

    }
    .location-gallery {
        display: none;
    }
    .events-gallery {
        display: none;
        background-color: rgba(12,12,43,.7);
    }
    .event {
    	display: inline-block;
    	width: 25%;
    	padding: 20px 10px;
    	text-align: center;
    	vertical-align: top;
    }
    .event p {
    	color: #fff;
    	font-size: 12px;
    	text-transform: uppercase;
    	font-weight: 700;
    }
    /* Tablet Stylings */
    @media screen and (max-width: 959px) and (min-width: 565px) {
        .gallery_widget_body.gallery_layout_1 .gallery-thumbs { margin-top:0 !important; }
        .gallery-spotlight { margin-bottom:15px; }
        .event { width:50%; }
    }
    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        .sub-navigation ul li a { font-size:14px;padding:5px;letter-spacing:1px; }
        .gallery_widget_body.gallery_layout_1 .gallery-thumbs { margin-top:0 !important; }
        .gallery-spotlight { margin-bottom:15px; }
        .event { width:100%;padding:10px; }
    }
    @media only screen and (orientation: landscape) and (device-width: 320px) {

    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>