<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		<div style="background-color: ">
			<span><link id="http://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    .contact_widget_body.contact_layout_5 > div.col-sm-12 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .contact_widget_body.contact_layout_5 {
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
        border-top: none;
        padding-bottom: 50px;
    }
    /* Contact Stylings */
    .contact_widget_body.contact_layout_5 {
        color: #fff !important;
        font-family: 'Source Sans Pro';
    }
    .contact_widget_body.contact_layout_5 .section-1 > h5 {
        color: #c00000 !important;
        font-family: 'Oswald';
        font-weight: 700;
    }
    .contact_widget_body.contact_layout_5 a {
        color: #fff !important;
    }
    .contact_widget_body.contact_layout_5 a:hover {
        color: #c00000 !important;
    }
    .contact_widget_body.contact_layout_5 h5 {
        color: #c00000 !important;
    }
    .contact_widget_body.contact_layout_5 .section-1 {
        margin-top: 50px;
    }
    .contact_widget_body.contact_layout_5 .section-2 h5 {
        font-family: 'Oswald';
        font-size: 18px;
    }
    .follow-section {
        display: none;
    }
    /* Reservations Stylings */
    .main-wrapper.reservations {
        background-color: #fff !important;
        background-image: url('http://images.unoapp.com/boxdata/asset34276/images/bg-pattern3.png') !important;
        background-size: inherit !important;
        background-position: center !important;
        background-repeat: repeat !important;
        border-bottom: 2px solid #c00000;
        font-family: 'Source Sans Pro';
        font-size: 14px;
        color: rgb(51, 51, 51);
    }
    .main-wrapper.reservations .main-container {
        border: 1px solid rgba(12,12,43,.3) !important;
        background-color: rgba(255,255,255,.5) !important;
    }
    .main-wrapper.reservations .main-container h1 {
        font-family: 'Oswald';
        text-transform: uppercase;
        color: rgb(12, 12, 43);
    }
    .main-wrapper.reservations .main-container .left-side {
        float: left;
        width: 49%;
    }
    .main-wrapper.reservations .main-container .right-side {
        float: right;
        width: 49%;
    }
    .main-container form {
        margin-top: 15px;
    }
    .main-container form .required {
        color: #c00000;
    }
    .main-container .form-row {
        margin: 10px 0;
    }
    .datepicker {
        border-radius: 0 !important;
    }
    .main-container form input[type="text"], .main-container form select, .main-container form textarea {
        width: 100%;
        padding: 10px;
        background-color: rgba(255,255,255,.5);
        border: 1px solid rgba(51,51,51,.5);
        color: #fff;
        font-size: 14px;
    }
    .main-container form textarea {
        resize: none;
        height: 100px;
    }
    .main-container form label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: rgb(51, 51, 51);
    }
    .main-container form .submit-btn {
        float: right;
        cursor: pointer;
        padding: 10px;
        color: rgb(51, 51, 51);
        background-color: rgba(255,255,255,.5);
        border: 1px solid rgba(51,51,51,.5);
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .main-container form .submit-btn:hover {
        border: 1px solid rgb(12, 12, 43);
    }
    .main-container form input[type="text"], .main-container form select, .main-container form textarea {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
    }
    .main-container form input[type="text"]:focus, .main-container form select:focus, .main-container form textarea:focus {
        box-shadow: 0 0 5px rgb(12, 12, 43);
    }
    .main-container form #customSuccessMsg {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
    }
    .main-container form #errorModal {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
    }
    .main-container form #customSuccessMsg .modal-center {
        position: absolute;
        width: 240px;
        height: 270px;
        top: 50%;
        margin-top: -135px;
        left: 50%;
        color: #fff;
        margin-left: -120px;
        z-index: 100;
        padding: 10px;
        padding-bottom: 50px;
        background-color: #000;
        border: 1px solid #0c0c2b;
    }
    .main-container form #errorModal .modal-center {
        position: absolute;
        width: 240px;
        height: 140px;
        top: 50%;
        margin-top: -70px;
        left: 50%;
        color: #fff;
        margin-left: -120px;
        z-index: 100;
        padding: 10px;
        padding-bottom: 50px;
        background-color: #000;
        border: 1px solid #0c0c2b;
    }
    .main-container form #customSuccessMsg .modal-center h2.thanks {
        color: green;
    }
    .ok-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        color: #fff;
        background-color: rgba(0,0,0,.3);
        border-top: 1px solid #0c0c2b;
        font-size: 12px;
    }
    ::-webkit-input-placeholder {
       color: #0c0c2b;
    }
    ::-moz-placeholder {
       color: #0c0c2b;  
    }
    :-ms-input-placeholder {  
       color: #0c0c2b;  
    }
    /* Mobile Stylings */
    @media (max-width: 768px) {
        .contact_widget_body.contact_layout_5 .section-2 > div:first-child { border:none !important; }
        .main-wrapper.reservations .main-container .left-side { float:none;width:100%; }
        .main-wrapper.reservations .main-container .right-side { float:none;width:100%; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>