<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Top Fold Stylings */
    #page-section #header_wrap .wrapper .headline {
        bottom: 110px;
    }
    #page-section #header_wrap .wrapper #social {
        bottom: 10px;
    }
    #page-section #header_wrap .wrapper {
        padding-top: 100px;
    }
    /* Shared Stylings */
    .profile_widget_body a {
        text-decoration: none;
        color: #c00000;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    .profile_widget_body a:hover {
        color: #ccc;
    }
    .profile_widget_body.profile_layout_1 .section-1 h6 {
        line-height: inherit !important;
    }
    /* Section Borders */
    #profile div.widget-section > div, #best-burger div.widget-section > div, #best-special div.widget-section > div {
        border: 1px solid rgba(255,0,0,.1);
    }
    #profile {
        border-top: 2px solid #c00000;
    }
    #about-us-2, #profile, #best-burger, #best-special, #best-patio, #locations {
        position: relative;
        border-bottom: 2px solid #c00000;
    }
    #about-us-2 div.widget-section > div, #best-patio div.widget-section > div {
        border: 1px solid rgba(12,12,43,.3);
    }
    #profile .profile_widget_body.profile_layout_1 .section-2 div, #best-burger .profile_widget_body.profile_layout_1 .section-2 div, #best-special .profile_widget_body.profile_layout_1 .section-2 div {
        border: 2px solid #c00000;
    }
    /* Profile Stylings */
    .profile_widget_body .col-xs-1, .profile_widget_body .col-sm-1, .profile_widget_body .col-md-1, .profile_widget_body .col-lg-1, .profile_widget_body .col-xs-2, .profile_widget_body .col-sm-2, .profile_widget_body .col-md-2, .profile_widget_body .col-lg-2, .profile_widget_body .col-xs-3, .profile_widget_body .col-sm-3, .profile_widget_body .col-md-3, .profile_widget_body .col-lg-3, .profile_widget_body .col-xs-4, .profile_widget_body .col-sm-4, .profile_widget_body .col-md-4, .profile_widget_body .col-lg-4, .profile_widget_body .col-xs-5, .profile_widget_body .col-sm-5, .profile_widget_body .col-md-5, .profile_widget_body .col-lg-5, .profile_widget_body .col-xs-6, .profile_widget_body .col-sm-6, .profile_widget_body .col-md-6, .profile_widget_body .col-lg-6, .profile_widget_body .col-xs-7, .profile_widget_body .col-sm-7, .profile_widget_body .col-md-7, .profile_widget_body .col-lg-7, .profile_widget_body .col-xs-8, .profile_widget_body .col-sm-8, .profile_widget_body .col-md-8, .profile_widget_body .col-lg-8, .profile_widget_body .col-xs-9, .profile_widget_body .col-sm-9, .profile_widget_body .col-md-9, .profile_widget_body .col-lg-9, .profile_widget_body .col-xs-10, .profile_widget_body .col-sm-10, .profile_widget_body .col-md-10, .profile_widget_body .col-lg-10, .profile_widget_body .col-xs-11, .profile_widget_body .col-sm-11, .profile_widget_body .col-md-11, .profile_widget_body .col-lg-11, .profile_widget_body .col-xs-12, .profile_widget_body .col-sm-12, .profile_widget_body .col-md-12, .profile_widget_body .col-lg-12 {
        padding: 0 !important;
    }
    .profile_widget_body.profile_layout_1 .section-1 > div:first-child {
        min-height: inherit !important;
    }
    #profile .profile_widget_body.profile_layout_1 .section-1, #best-burger .profile_widget_body.profile_layout_1 .section-1, #best-special .profile_widget_body.profile_layout_1 .section-1 {
        padding-right: 15px !important;
    }
    /* About Us Stylings */
    #about-us-2 .profile_widget_body.profile_layout_1 .section-1, #best-patio .profile_widget_body.profile_layout_1 .section-1 {
        padding-left: 15px !important;
    }
    #about-us-2 .profile_widget_body.profile_layout_1 .section-2 div, #best-patio .profile_widget_body.profile_layout_1 .section-2 div {
        border: 2px solid #0c0c2b;
    }
    /* Location Stylings */
    iframe.google-map {
        display: block;
        width: 90%;
        margin: 0 auto;
        min-height: 300px;
        border-bottom: 2px solid #c00000;
        border-left: 2px solid #c00000;
        border-right: 2px solid #c00000;
    }
    #locations .main-wrapper h2 {
        margin: 0;
        font-size: 26px;
        font-family: 'Oswald';
        color: #0c0c2b;
        text-transform: uppercase;
    }
    #locations div.widget-section {
        background-color: #fff !important;
        background-image: url('//images.unoapp.com/boxdata/asset34276/images/bg-pattern3.png') !important;
        background-size: inherit !important;
        background-position: center !important;
        background-repeat: repeat !important;
    }
    .location {
        display: inline-block;
        width: 20%;
        padding: 5px 10px;
        font-family: 'Source Sans Pro';
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .location img {
        display: block;
        margin: 0 auto;
    }
    .location-title {
        position: relative;
        padding: 10px;
        background: url('//www.digitalmarketingbox.com/webtool/boxdata/2324/images/black.png') repeat;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Oswald';
        color: #fff;
        border-top: 1px solid #000;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .location-header {
        border: 1px solid #333;
        margin-bottom: 5px;
        -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.9);
        -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.9);
        box-shadow: 0 8px 6px -6px rgba(0,0,0,.9);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .location-header a {
        display: block;
        text-decoration: none;
    }
    .old .location-header:hover .location-title {
        color: #b61b00;
    }
    .old .location-header:hover {
        box-shadow: 0 0 10px 1px #b61b00;
    }
    .new .location-header:hover .location-title {
        color: #3e6eef;
    }
    .new .location-header:hover {
        box-shadow: 0 0 10px 1px #3e6eef;
    }
    .location-title i {
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .location-content {
        padding: 10px;
    }
    .location-content a {
        font-weight: 700;
        color: #0c0c2b;
    }
    .location-content a.location-link {
        font-weight: 700;
        color: #0c0c2b;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Oswald';
    }
    .location-content a:hover {
        color: #c00000;
    }
    .location-content p {
        font-size: 14px;
        font-family: 'Source Sans Pro';
        line-height: inherit;
        margin: 0;
    }
    .location-img img {
        width: 100%;
    }
    /* Responsive Stylings */
    /* Locations Responsive */
    @media screen and (max-width: 1100px) {
        .location { width:25%;padding:5px;min-height:306px; }
    }
    @media screen and (max-width: 1005px) and (min-width: 565px) {
        .location { width:33.333%;min-height:286px; }
        .hidden { display:none; }
    }
    /* Logo Responsive ... */
    @media screen and (max-width: 991px) {
        #page-section #header_wrap .wrapper { padding-top:65px !important; }
        #about-us .profile_widget_body.profile_layout_1 .section-2 div, #best-patio .profile_widget_body.profile_layout_1 .section-2 div { margin-bottom:15px; }
        #about-us .profile_widget_body.profile_layout_1 .section-1, #profile .profile_widget_body.profile_layout_1 .section-1, #best-burger .profile_widget_body.profile_layout_1 .section-1, #best-patio .profile_widget_body.profile_layout_1 .section-1, #best-special .profile_widget_body.profile_layout_1 .section-1  { padding:0 !important; }
    }
    @media screen and (max-width: 767px) {
        #page-section #header_wrap .wrapper .headline { bottom:70px; }
    }
    /* Tablet Stylings */
    @media screen and (max-width: 959px) and (min-width: 565px) {
        .profile_widget_body.profile_layout_1 .section-1 h6 { font-size:22px !important; }
        .profile_widget_body.profile_layout_1 .section-1 { padding-right:0 !important; }
    }
    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        h1 { letter-spacing:inherit !important; }
        .profile_widget_body.profile_layout_1 .section-1 h6 { font-size:18px !important; }
        .profile_widget_body.profile_layout_1 .section-1 { padding-right:0 !important; }
        .hidden { display:none; }
        .location { width:50%;min-height:inherit; }
        .location-title { font-size:12px; }
        .location-content { padding:5px; }
        .location-content p { font-size:12px; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>