<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><!-- Thank You Styling -->
<link id="//fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">

<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Reservations Stylings */
    .main-wrapper.thanks {
        background-color: #fff !important;
        background-image: url('//images.unoapp.com/boxdata/asset34276/images/bg-pattern3.png') !important;
        background-size: inherit !important;
        background-position: center !important;
        background-repeat: repeat !important;
        border-top: 2px solid #c00000;
        border-bottom: 2px solid #c00000;
        font-family: 'Source Sans Pro';
        font-size: 14px;
        color: rgb(51, 51, 51);
    }
    .main-wrapper.thanks .main-container {
        border: 1px solid rgba(12,12,43,.3) !important;
        background-color: rgba(255,255,255,.5) !important;
        text-align: center;
    }
    .main-wrapper.thanks .main-container h2 {
    	margin: 0 0 15px;
    	font-size: 26px;
        font-family: 'Oswald';
        text-transform: uppercase;
        color: rgb(12, 12, 43);
    }
    /* Mobile Stylings */
    @media (max-width: 768px) {

    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>