<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		<div style="background-color: ">
			<span><style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #profile {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #drinks-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #menu-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #specials-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #gallery-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #event {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    /* Navigation Stylings */
    #nav-main-controls {
        background: rgba(12,12,43,1) !important;
    }
    #nav-main-controls #nav-main-toggle > .icon-bar {
        background-color: rgba(255,255,255,1);
    }
    #navbar_wrap {
        background: rgba(12,12,43,1) !important;
    }
    body #navbar_wrap .navigationbar #nav_main a:hover {
        color: #c00000;
    }
    body #navbar_wrap.bgnav #nav_main li a, #navbar_wrap .navigationbar .mobile-open #nav_main a {
        color: #fff;
    }
    /* About Us Stylings */
    .profile_widget_body.profile_layout_1 .section-2 div {
        border: 2px solid #c00000;
    }
    .profile_widget_body .col-xs-1, .profile_widget_body .col-sm-1, .profile_widget_body .col-md-1, .profile_widget_body .col-lg-1, .profile_widget_body .col-xs-2, .profile_widget_body .col-sm-2, .profile_widget_body .col-md-2, .profile_widget_body .col-lg-2, .profile_widget_body .col-xs-3, .profile_widget_body .col-sm-3, .profile_widget_body .col-md-3, .profile_widget_body .col-lg-3, .profile_widget_body .col-xs-4, .profile_widget_body .col-sm-4, .profile_widget_body .col-md-4, .profile_widget_body .col-lg-4, .profile_widget_body .col-xs-5, .profile_widget_body .col-sm-5, .profile_widget_body .col-md-5, .profile_widget_body .col-lg-5, .profile_widget_body .col-xs-6, .profile_widget_body .col-sm-6, .profile_widget_body .col-md-6, .profile_widget_body .col-lg-6, .profile_widget_body .col-xs-7, .profile_widget_body .col-sm-7, .profile_widget_body .col-md-7, .profile_widget_body .col-lg-7, .profile_widget_body .col-xs-8, .profile_widget_body .col-sm-8, .profile_widget_body .col-md-8, .profile_widget_body .col-lg-8, .profile_widget_body .col-xs-9, .profile_widget_body .col-sm-9, .profile_widget_body .col-md-9, .profile_widget_body .col-lg-9, .profile_widget_body .col-xs-10, .profile_widget_body .col-sm-10, .profile_widget_body .col-md-10, .profile_widget_body .col-lg-10, .profile_widget_body .col-xs-11, .profile_widget_body .col-sm-11, .profile_widget_body .col-md-11, .profile_widget_body .col-lg-11, .profile_widget_body .col-xs-12, .profile_widget_body .col-sm-12, .profile_widget_body .col-md-12, .profile_widget_body .col-lg-12 {
        padding: 0 !important;
    }
    .profile_widget_body.profile_layout_1 .section-1 > div:first-child {
        min-height: inherit !important;
    }
    .profile_widget_body.profile_layout_1 .section-1 {
        padding-right: 15px !important;
    }

    /* Menu Stylings */
    .category-title {
        display: none;
    }
    .menu-item-content .menu-item-title {
        display: block;
    }
    .menu-item-title, .menu-item-price {
        font-weight: 700 !important;
    }
    .daily-title {
        display: block;
        font-size: 22px;
        letter-spacing: 1px;
        padding: 5px 10px;
        background-color: #17365d;
        color: #fff;
        text-transform: uppercase;
    }
    .daily-description {
        display: block;
        margin-top: 10px;
        text-align: center;
        font-style: italic;
    }
    .menu-item-content {
        padding-bottom: 10px;
    }
    span.menu-break {
        display: block !important;
    }
    span.menu-blue {
        color: #17365d;
        font-size: 16px;
        font-weight: bold;
    }
    span.disclaimer {
        font-style: italic;
    }
    /* Gallery Stylings */
    .gallery_widget_body.gallery_layout_1 .gallery-spotlight > div {
        border: 2px solid #c00000 !important;
    }
    /* Responsive Stylings */
    /* Tablet Stylings */
    @media screen and (max-width: 959px) and (min-width: 565px) {
        .mobilehead-one { font-size:26px !important; }
        .mobilehead-three { font-size:18px !important; }
        .profile_widget_body.profile_layout_1 .section-1 h6 { font-size:22px !important; }
        .profile_widget_body.profile_layout_1 .section-1 { padding-right:0 !important; }
    }

    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        h1 { letter-spacing:inherit !important; }
        .mobilehead-one { font-size:20px !important; }
        .mobilehead-three { font-size:16px !important; }
        .profile_widget_body.profile_layout_1 .section-1 h6 { font-size:18px !important; }
        .profile_widget_body.profile_layout_1 .section-1 { padding-right:0 !important; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>