<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/menu-bg1.jpg?r=151006044211');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-c7e06bc70fbb86d7b2874a26adfd2ddb"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"c7e06bc70fbb86d7b2874a26adfd2ddb","selector":"#menu-widget-c7e06bc70fbb86d7b2874a26adfd2ddb","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>