<div id="event">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="calender-widget-015459e5150d0797bf3f5618091f21e2"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"015459e5150d0797bf3f5618091f21e2","selector":"#calender-widget-015459e5150d0797bf3f5618091f21e2","plugins":["calendar"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>