<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset40162/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-a3b7cafd3305608fc03dac14442ac7f7"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"a3b7cafd3305608fc03dac14442ac7f7","selector":"#menu-widget-a3b7cafd3305608fc03dac14442ac7f7","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>