<div id="popup">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><!-- Calling Fancybox -->
<link href="https://www.digitalmarketingbox.com/webtool/js/fancybox2/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css" />

<script>
    var initFancybox = function() {
        var myimg = "https://images.unoapp.com/boxdata/asset31723/images/April_Burgerpalooza.png"; // Link to Image

        var current = new Date();
        console.log("CURRENT DATE:", current);
        current = current.getTime();

        // Start Date Section
        var startYear = 2017; // Start Year
        var startMonth = 1; // Start Month
        var startDay = 1; // Start Day

        var startDate = new Date();
        startDate = new Date(startYear, startMonth-1, startDay, 0, 0, 0, 0);
        console.log("START DATE: " +startDate);

        // Expiry Date Section
        var expYear = 2017; // Expiry Year
        var expMonth = 5; // Expiry Month
        var expDay = 1; // Expiry Day

        var expiryDate = new Date();
        expiryDate = new Date(expYear, expMonth-1, expDay, 0, 0, 0, 0);
        console.log("EXPIRY DATE: " +expiryDate);

        var checkDate = expiryDate.getTime();

        if (checkDate < current){
            console.log("POP UP EXPIRED");
        } else if(startDate > current) {
            console.log("POP UP STARTING ON "+startDate);
        } else {
            console.log("POP UP EXPIRES ON " +expiryDate);
            $.fancybox({ 
                'autoScale': true,
                'type': 'image',
                'href': myimg,
                onComplete:function(){} 
            });
        }
    };
    
    window.pendingCallbacks = {};
    var loadScript = function(src, callback, dont_queue_callback) {
        // Look for an existing script tag of the same src
        var script_tags = document.getElementsByTagName("script");
        for (var i = 0; i < script_tags.length; i++) {
            // Script tag already exists
            if (script_tags[i].src == src) {
                // If we don't want duplicate callbacks, run away - NOW.
                if (dont_queue_callback) {
                    return;
                } else {
                    // Run callback immediately, if the the script has already executed its pending callbacks
                    if (typeof pendingCallbacks[src] == 'undefined') {
                        callback();
                    // Otherwise, queue the callback to the script tag
                    } else {
                        pendingCallbacks[src].push(callback);
                    }
                }

                return;
            }
        }

        // Create new script tag
        var bodyTag = document.getElementsByTagName("body")[0];
        var script_tag = document.createElement('script');
        script_tag.type = 'text/javascript';
        script_tag.src = src;

        // Append callback to array
        if (typeof pendingCallbacks == 'undefined') window.pendingCallbacks = {};
        if (typeof pendingCallbacks[src] == 'undefined') pendingCallbacks[src] = [];
        if (typeof callback == 'function') pendingCallbacks[src].push(callback);

        // Executes all pending callbacks for this script tag
        var executeCallbacks = function() {
            if (typeof pendingCallbacks[src] == 'undefined') return;
            for (var i = 0; i < pendingCallbacks[src].length; i++) {
                var callback = pendingCallbacks[src][i];
                if (typeof callback == 'function') {
                    callback();
                }
            }
            // Remove all pending callbacks so they can't be called again
            delete pendingCallbacks[src];
        }

        if (script_tag.readyState) {
            script_tag.onreadystatechange = function() { // For old versions of IE
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    executeCallbacks();
                }
            };
        } else {
            script_tag.onload = executeCallbacks;
        }
        bodyTag.appendChild(script_tag);
    }
    loadScript('https://www.digitalmarketingbox.com/webtool/js/fancybox2/jquery.fancybox.js', initFancybox, false);
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>