<div id="specials-2">	
	<div class="widget-section pagesection  " style="background-image: url('http://images.unoapp.com/boxdata/asset34276/images/menu-bg1.jpg?r=151006044211');background-color: ">
		<div style="background-color: rgba(255, 255, 255, 0.3)">
			<span></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>