<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset57466/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-676a0cac70bf07db33d1433556bfd83b"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"676a0cac70bf07db33d1433556bfd83b","selector":"#menu-widget-676a0cac70bf07db33d1433556bfd83b","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>