<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset57466/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-9fbe73f531bc51f6d3d00d7fd9b0038a"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"9fbe73f531bc51f6d3d00d7fd9b0038a","selector":"#menu-widget-9fbe73f531bc51f6d3d00d7fd9b0038a","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>