<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #specials-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #specials-2 div.widget-section > div {
        border: 1px solid rgba(12,12,43,.3);
    }
    .menu_widget_navigation {
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(12,12,43,1);
    }
    body #menu-2 .menu_widget_navigation ul li {
        font-size: 18px !important;
    }
    @media screen and (max-width: 460px) {
        .nav_structure1 .menu_widget_mobile_navigation .menu_widget_mobile_selected { font-size:22px;padding:0 30px;margin-bottom:15px; }
        .nav_structure1 .menu_widget_cat_navigation { display:none !important; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>