<div id="thanks-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper thanks">
    <div class="main-container">
        <h2 style="margin:0;">We look forward to seeing you soon at your local Firkin pub!</h2>
    </div>
</div></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>