<div id="css-styling">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		<div style="background-color: ">
			<span>

<style>
	#page-section, #navbar_wrap, #soc_med_bar, .footer {
		display: none !important;

	}
	html {
	width: 100%;
	height: 100%;
	background: url('http://unoapp.com/img1648004') no-repeat center center;
	background-size: contain;
	background-color:#333333;    
	max-width: 1200px;
    margin: 0px auto;
}
</style>
</span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>