<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset37009/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-d2ef2b20e1b0ac7438b3a3524dbeeb10"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"d2ef2b20e1b0ac7438b3a3524dbeeb10","selector":"#menu-widget-d2ef2b20e1b0ac7438b3a3524dbeeb10","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>