<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset37009/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-b5accb2c83414a6e3d3668916f79ffbe"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"b5accb2c83414a6e3d3668916f79ffbe","selector":"#menu-widget-b5accb2c83414a6e3d3668916f79ffbe","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>