<div id="profile-2">	
	<div class="widget-section pagesection  " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-46947d62285a5292a982d7fdbc15ee8c"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"46947d62285a5292a982d7fdbc15ee8c","selector":"#profile-widget-46947d62285a5292a982d7fdbc15ee8c","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>