<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12806/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-ea6bb5101748f7a108d9cab6bfafcb81"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"ea6bb5101748f7a108d9cab6bfafcb81","selector":"#menu-widget-ea6bb5101748f7a108d9cab6bfafcb81","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>