<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-8ebf10ef6027430d261435a7f56d139a"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"8ebf10ef6027430d261435a7f56d139a","selector":"#profile-widget-8ebf10ef6027430d261435a7f56d139a","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>