<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>