<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset9204/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-e14747bbd6d46ab4f0adf58209c5d59a"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"e14747bbd6d46ab4f0adf58209c5d59a","selector":"#menu-widget-e14747bbd6d46ab4f0adf58209c5d59a","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>