<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset9204/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-63e23b1052e551c9c4a7fd8112a2da91"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"63e23b1052e551c9c4a7fd8112a2da91","selector":"#menu-widget-63e23b1052e551c9c4a7fd8112a2da91","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>