<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset57601/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-dca3d51eb6e8950f0173007b4e7d764c"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"dca3d51eb6e8950f0173007b4e7d764c","selector":"#menu-widget-dca3d51eb6e8950f0173007b4e7d764c","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>