<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset10061/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-970da189b624f0b045885661a7fcd53b"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"970da189b624f0b045885661a7fcd53b","selector":"#menu-widget-970da189b624f0b045885661a7fcd53b","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>