<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-d4e283677a21f7b80d11a14931fdcf0a"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>The Gull: New &amp; Improved</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.1047686148593127.1073741828.129519550409796&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Check out our new patio!!</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.854062131288864.1073741826.129519550409796&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Gull's Halloween</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.175489602479457.43543.129519550409796&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Annual Tikki Party!</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.172195106142240.42189.129519550409796&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>Pig Roast 2010</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.162268260468258.38963.129519550409796&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div><!--
            --><div class="event">
                <p>The Annual Gull and Firkin Golf Tournament</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.871851102843300.1073741827.129519550409796&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    unoapp_widget({"id":"d4e283677a21f7b80d11a14931fdcf0a","selector":"#gallery-widget-d4e283677a21f7b80d11a14931fdcf0a","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "events" ) {
            $('.events-gallery').slideDown();
            $('.food-gallery').slideUp();
            $('.location-gallery').slideUp();
            $(".menu-btn#events").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            $(".menu-btn#location").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>