<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset10061/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-df62ca0db3e5997c4398f852f3d1ee42"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"df62ca0db3e5997c4398f852f3d1ee42","selector":"#menu-widget-df62ca0db3e5997c4398f852f3d1ee42","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>