<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><link id="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #event {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #event div.widget-section > div {
        border: 1px solid rgba(255,0,0,.1);
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>