<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12834/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-35fe44b3d817a54be20f9e4e386df56a"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"35fe44b3d817a54be20f9e4e386df56a","selector":"#menu-widget-35fe44b3d817a54be20f9e4e386df56a","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>