<div id="specials-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/menu-bg1.jpg?r=151006044211');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-93f439cc17eb1228d9adc96a5e365d03"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"93f439cc17eb1228d9adc96a5e365d03","selector":"#menu-widget-93f439cc17eb1228d9adc96a5e365d03","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>