<div id="contact-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="contact-widget-d64711cd07ec8bc583ca2eb737fc4b38"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"d64711cd07ec8bc583ca2eb737fc4b38","selector":"#contact-widget-d64711cd07ec8bc583ca2eb737fc4b38","plugins":["contact"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>