<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12879/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-5457dd1f1f12f62ed880859d1647178a"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"5457dd1f1f12f62ed880859d1647178a","selector":"#menu-widget-5457dd1f1f12f62ed880859d1647178a","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>