<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-e5ae900ab6d34557c149574263ccacd6"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"e5ae900ab6d34557c149574263ccacd6","selector":"#profile-widget-e5ae900ab6d34557c149574263ccacd6","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>