<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><!-- Drinks Page Styling Section -->
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #drinks-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #drinks-2 div.widget-section > div {
        border: 1px solid #2b3373;
    }
    .menu_widget_navigation {
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 2px solid #2b3373;
    }
    body .nav_structure1 .menu_widget_navigation ul li span {
        margin: 0;
        text-transform: uppercase;
    }
    body .menu_widget_navigation ul li {
        margin: 2px !important;
        padding: 5px !important;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    @media screen and (max-width: 460px) {
        .nav_structure1 .menu_widget_mobile_navigation .menu_widget_mobile_selected { font-size:22px;padding:0 30px;margin-bottom:15px; }
        .nav_structure1 .menu_widget_cat_navigation { display:none !important; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>