<div id="contact">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('http://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		<div style="background-color: ">
			<span><div id="contact-widget-bc96780795132fe53595a853a5ebe458"></div><script type="text/javascript" src="http://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"bc96780795132fe53595a853a5ebe458","selector":"#contact-widget-bc96780795132fe53595a853a5ebe458","plugins":["contact"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>