<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-9e7356c9cbc050c9e8fbc203421c0cae"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"9e7356c9cbc050c9e8fbc203421c0cae","selector":"#profile-widget-9e7356c9cbc050c9e8fbc203421c0cae","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>