<div id="specials-2">	
	<div class="widget-section pagesection  " style="background-image: url('//images.unoapp.com/boxdata/asset34276/images/menu-bg1.jpg?r=151006044211');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-c8a09a30f565e611ae2a8c78775e9199"></div><script type="text/javascript" src="//unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"c8a09a30f565e611ae2a8c78775e9199","selector":"#menu-widget-c8a09a30f565e611ae2a8c78775e9199","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>