<div id="styles-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><link id="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" media="all">
<style>
    /* Firkin Blue - #0c0c2b, Firkin Red - #c00000 */
    /* Section Borders */
    #reservations-2 {
        position: relative;
        border: 2px solid #c00000;
        border-left: none;
        border-right: none;
    }
    #reservations-2 div.widget-section {
        background-color: transparent !important;
        background-image: url("https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405") !important;
        background-size: cover;
    }
    /* Shared Stylings */
    .main-wrapper {
        padding: 100px 0;
    }
    .main-wrapper.reservations .main-container {
        max-width: 1160px;
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(0,0,0,.3);
        font-family: 'Source Sans Pro';
        font-size: 14px;

        color: #fff;
        border: 1px solid rgba(255,0,0,.1);
    }
    .main-wrapper.reservations .main-container h2 {
    	margin: 0 0 15px;
    	font-size: 26px;
        font-family: 'Oswald';
        text-transform: uppercase;
        color: #c00000;
    }
    .main-container a {
        text-decoration: none;
        color: #c00000;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    .main-container a:hover {
        color: #ccc;
    }
    .main-wrapper.reservations .main-container .ot-widget h2.OT_subtitle {
            white-space: inherit !important;
            font-size: 14px;
            letter-spacing: 0;
    }
    .OT_day, .OT_time, .OT_party {
        width: 99% !important;
    }
    /* Tablet Stylings */
    @media screen and (max-width: 959px) and (min-width: 565px) {
        .main-wrapper { padding:50px 0; }
    }
    /* Mobile Stylings */
    @media screen and (max-width: 564px) {
        .main-wrapper { padding:50px 0; }
        .main-wrapper.reservations .main-container .left-side { float:none;width:100%; }
        .main-wrapper.reservations .main-container .right-side { float:none;width:100%; }
    }
</style></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>