<div id="contact-form">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><script src="https://www.digitalmarketingbox.com/unoapp/js/jquery.webinquiry.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

<div class="main-wrapper reservations">
    <div class="main-container">
        <h2>Want to drop us a line? or leave us a comment?</h2>

        <p>We love to hear from our valued customers, and are always looking to improve upon our already high standards.</p>

        <p>We appreciate any feedback here at The Fiddle: A Firkin Pub, and look forward to touching base with you!</p>

        <form action="javascript:void(0)" id="reservationForm" data-recipient="fiddle.firkin@gmail.com,larry@firkinpubs.com,davegodfrey@firkinpubs.com,scott@firkinpubs.com" data-formtype="Fiddle Comment Form">

            <div id="customSuccessMsg" style="display: none;">
                <div>
                    <h2 class="thanks">Thank You.</h2>
                    <p>Thank you for submitting your reservation.</p>
                    <p>We'll get back to you shortly to confirm your request.</p>
                    <p>If you have further questions, please <a href="mailto:info@unoapp.com">email us</a>.</p>
                    <div onclick="$('#customSuccessMsg').hide();">OK</div>
                </div>
            </div>

            <div id="errorModal" style="display: none;">
                <div>
                    <h2 class="error">Error</h2>
                    <p class="msg">This text will be replaced with the error message.</p>
                    <div onclick="$('#errorModal').hide();">OK</div>
                </div>
            </div>
            
            <div class="left-side">
                <div class="form-row">
                    <label for="Name">Name <span class="required">*</span></label>
                    <input data-name="Name" name="Name" type="text" data-required>
                </div>
                <div class="form-row">
                    <label for="Email">Email <span class="required">*</span></label>
                    <input data-name="Email" name="Email" type="text" data-required data-email>
                </div>
            </div>
            <div class="right-side">
                <div class="form-row">
                    <label for="Phone">Phone #</label>
                    <input data-name="Phone #" name="Phone" type="text">
                </div>
                <div class="form-row">
                    <label for="Address">Address</label>
                    <input data-name="Address" name="Address" type="text">
                </div>
            </div>
            <div class="clear-both"></div>
            
            <div class="form-row">
                <label for="Comments">Questions / Comments?</label>
                <textarea data-name="Comments" name="Comments"></textarea>
            </div>

            <!-- Form Submission Button -->
            <div onclick="submitReservation();" class="submit-btn">Submit</div>
            <div class="clear-both"></div>
        </form>
    </div>
</div>

<script>
    // Form Functionality
    var successMsg = function(msg) {
        $('#customSuccessMsg').show();
    }
    var errorMsg = function(msg, $elems) {
        $('#errorModal').show();
        $('#errorModal .msg').text(msg);

        // Highlight the input fields with errors
        if ($elems) {
            $elems.addClass('highlighted');
        }
    }
    function submitReservation() {
        submitWebFormById('reservationForm',
            {
                alwaysSubmitEmptyFields: true,
                successURL: 'thank-you-contact.html'
            }
        );
    }
    function loadDatepicker() {
        if (!$.datepicker) {
            setTimeout(loadDatepicker, 100)
        } else {
            $(".datepicker").datepicker();
        }
    }
    loadDatepicker();
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>