<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12806/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-47bbf8d8578759adc12b2d75823fd12e"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"47bbf8d8578759adc12b2d75823fd12e","selector":"#menu-widget-47bbf8d8578759adc12b2d75823fd12e","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>