<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
        <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <!-- <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li> -->
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-4ea7a71765ed493775618e4bd8b47073"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-6644678735f27df4114ba0db65857976"></div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
    unoapp_widget({"id":"4ea7a71765ed493775618e4bd8b47073","selector":"#gallery-widget-4ea7a71765ed493775618e4bd8b47073","plugins":["gallery"]});
    unoapp_widget({"id":"6644678735f27df4114ba0db65857976","selector":"#gallery-widget-6644678735f27df4114ba0db65857976","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    $('a.menu-btn').on('click', function(e) {
        e.preventDefault();
        var idChosen = $(this).attr('id');
        if( idChosen == "food" ) {
            $('.food-gallery').slideDown();
            $('.location-gallery').slideUp();
            // $('.events-gallery').slideUp();
            $(".menu-btn#food").addClass("selected");
            $(".menu-btn#location").removeClass("selected");
            // $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else if ( idChosen == "location" ) {
            $('.location-gallery').slideDown();
            $('.food-gallery').slideUp();
            // $('.events-gallery').slideUp();
            $(".menu-btn#location").addClass("selected");
            $(".menu-btn#food").removeClass("selected");
            // $(".menu-btn#events").removeClass("selected");
            window.dispatchEvent(new Event('resize'));
        } else {

        }
    });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>