<div id="locations">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11596.402265789191!2d-80.3580812!3d43.3958274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd3eed4da886e99b!2sFiddle+And+Firkin!5e0!3m2!1sen!2sca!4v1490275230527" class="google-map" frameborder="0" allowfullscreen></iframe>

<div class="main-wrapper" style="padding:50px 0;">
    <h2 style="margin-bottom:25px;text-align:center;padding:0 10px;">Other Firkin Awesome Locations</h2>
    <div class="main-container" style="border:none;">
        <div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/firkinonthebay/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Toronto - Pubs Toronto - Firkin On the Bay" src="http://www.firkinpubs.com/img/logos/bay.jpg" />
                    </div>
                    <div class="location-title">
                        Bay
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(647) 748 - 8877<br />
                    68 Marine Parade Dr.<br>
                    Units #13 - #17<br />
                    Toronto, ON<br>
                    M8V 1A1</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/firkinonbloor/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Bloor St - Pubs Bloor St - Firkin on Bloor" src="http://www.firkinpubs.com/img/logos/bloor.jpg" />
                    </div>
                    <div class="location-title">
                        Bloor
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 962 - 4228<br />
                    81 Bloor St. E.<br />
                    Toronto, ON<br>
                    M4W 1A9<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thebullandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Yonge St - Pubs Yonge St - The Bull and Firkin" src="http://www.firkinpubs.com/img/logos/bull.jpg" />
                    </div>
                    <div class="location-title">
                        Bull
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 485 - 2290<br />
                    1835 Yonge St.<br />
                    Toronto, ON<br>
                    M4S 1X8<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thechurchmouseandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Church St - Pubs Church St - The Churchmouse and Firkin" src="http://www.firkinpubs.com/img/logos/churchmouse.jpg" />
                    </div>
                    <div class="location-title">
                        Churchmouse
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 927 - 1735<br />
                    475 Church St.<br />
                    Toronto, ON<br>
                    M4Y 2C5<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/firkinondanforth/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Toronto - Pubs Toronto - The Firkin on the Danforth" src="http://www.firkinpubs.com/img/logos/danforth.jpg" />
                    </div>
                    <div class="location-title">
                        Danforth
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 693 - 2057<br />
                    2056 B, Danforth Ave.<br>
                    Toronto, ON<br>
                    M4C 1J8<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/drakeandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Mississauga - Pubs Mississauga - The Drake and Firkin" src="http://www.firkinpubs.com/img/logos/drake.jpg" />
                    </div>
                    <div class="location-title">
                        Drake
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(905) 567 - 9173<br />
                    6982 Financial Dr.<br>
                    Unit B101<br />
                    Mississauga, ON<br>
                    L5N 8J4</p>
            </div>
        </div><!--
        --><div class="location old">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefalconandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Richmond - Pubs Richmond - The Falcon and Firkin" src="http://www.firkinpubs.com/img/logos/falcon.jpg" />
                    </div>
                    <div class="location-title">
                        Falcon
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(905) 883 - 4253<br />
                    10300 Yonge St.<br />
                    Richmond, ON<br>
                    L4C 3B8<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location old">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefiddleandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Cambridge - Pubs Cambridge - The Fiddle and Firkin" src="http://www.firkinpubs.com/img/logos/fiddle.jpg" />
                    </div>
                    <div class="location-title">
                        Fiddle
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(519) 653 - 8835<br />
                    707 King St. East<br />
                    Cambridge, ON<br>
                    N3H 3N8<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/theflatironandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Wellington St - Pubs Wellington St - The Flatiron and Firkin" src="http://www.firkinpubs.com/img/logos/flatiron.jpg" />
                    </div>
                    <div class="location-title">
                        Flatiron
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 362 - 3444<br />
                    49 Wellington St. East<br />
                    Toronto, ON<br>
                    M5E 1C9<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefirkinandflyerusa/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Baltimore - Pubs Baltimore - The Firkin and Flyer" src="http://www.firkinpubs.com/img/logos/flyer.jpg" />
                    </div>
                    <div class="location-title">
                        Flyer - BWI <span class="hidden">Airport</span>
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(410) 582-8308<br />
                    BWI Airport<br>
                    Concourse C<br />
                    Baltimore, MD<br>
                    21240</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefoxandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Eglinton Ave - Pubs Eglinton Ave - The Fox and Firkin" src="http://www.firkinpubs.com/img/logos/fox.jpg" />
                    </div>
                    <div class="location-title">
                        Fox
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 480 - 0200<br />
                    51 Eglinton Ave. East<br />
                    Toronto, ON<br>
                    M4P 1G7<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefriarandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants John St - Pubs John St - The Friar and Firkin" src="http://www.firkinpubs.com/img/logos/friar.jpg" />
                    </div>
                    <div class="location-title">
                        Friar
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 340 - 9459<br />
                    160 John St.<br />
                    Toronto, ON<br>
                    M5V 2E5<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefrigateandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Brampton - Pubs Brampton - The Frigate and Firkin" src="http://www.firkinpubs.com/img/logos/frigate.jpg" />
                    </div>
                    <div class="location-title">
                        Frigate
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(905) 456 - 8060<br />
                    378 Queen St. East<br />
                    Brampton, ON<br>
                    L6V 1C3<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefrogandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants North York - Pubs North York - The Frog and Firkin" src="http://www.firkinpubs.com/img/logos/frog.jpg" />
                    </div>
                    <div class="location-title">
                        Frog
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 225 - 3764<br />
                    4854 Yonge St.<br />
                    North York, ON<br>
                    M2N 5N2<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thegooseandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Don Mills - Pubs Don Mills - The Goose and Firkin" src="http://www.firkinpubs.com/img/logos/goose.jpg" />
                    </div>
                    <div class="location-title">
                        Goose
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 383 - 1200<br />
                    1875 Leslie St.<br />
                    Don Mills, ON<br>
                    M3B 2M5<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thegullandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Queen St - Pubs Queen St - The Gull and Firkin" src="http://www.firkinpubs.com/img/logos/gull.jpg" />
                    </div>
                    <div class="location-title">
                        Gull
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 693 - 9337<br />
                    1943 Queen St. East<br />
                    Toronto, ON<br>
                    M4L 1H7<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thefirkinfoxusa/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Washington - Pubs Washington - The Firkin and Fox" src="http://www.firkinpubs.com/img/logos/fox.jpg" />
                    </div>
                    <div class="location-title">
                        Fox - Dulles <span class="hidden">Airport</span>
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(703) 661 - 4500<br />
                    Dulles Airport<br />
                    Terminal A<br />
                    Washington, DC.<br>
                    20166</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/firkinonharbour/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Yonge St - Pubs Yonge St - Firkin on Harbour" src="http://www.firkinpubs.com/img/logos/harbour.jpg" />
                    </div>
                    <div class="location-title">
                        Harbour
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 519 - 9949<br />
                    10 Yonge St.<br />
                    Toronto, ON<br>
                    M5E 1R4<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/firkinonking/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants King St - Pubs King St - Firkin on King" src="http://www.firkinpubs.com/img/logos/king.jpg" />
                    </div>
                    <div class="location-title">
                        King
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 979 - 5464<br />
                    461 King St. West<br />
                    Toronto, ON<br>
                    M5V 1K4<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/themooseandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Woodbridge - Pubs Woodbridge - The Moose and Firkin" src="http://www.firkinpubs.com/img/logos/moose.jpg" />
                    </div>
                    <div class="location-title">
                        Moose
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(905) 264 - 7060<br />
                    7600 Weston Rd.<br>
                    Unit 13 &amp; 15<br />
                    Woodbridge, ON<br>
                    L4L 9L9</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/theowlandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Markham - Pubs Markham - The Owl and Firkin" src="http://www.firkinpubs.com/img/logos/owl.jpg" />
                    </div>
                    <div class="location-title">
                        Owl
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(905) 513 - 6611<br />
                    7181 Woodbine Ave.<br />
                    Markham, ON<br>
                    L3R 1A3<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thepheasantandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants North York - Pubs North York - The Pheasant and Firkin" src="http://www.firkinpubs.com/img/logos/pheasant.jpg" />
                    </div>
                    <div class="location-title">
                        Pheasant
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 483 - 9063<br />
                    1999 Avenue Rd.<br />
                    North York, ON<br>
                    M5M 4A5<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thequailandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Yonge St - Pubs Yonge St - The Quail and Firkin" src="http://www.firkinpubs.com/img/logos/quail.jpg" />
                    </div>
                    <div class="location-title">
                        Quail
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 962 - 0782<br />
                    1055 Yonge St.<br />
                    Toronto, ON<br>
                    M4W 2L2<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/thesquireandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Etobicoke - Pubs Etobicoke - The Squire and Firkin" src="http://www.firkinpubs.com/img/logos/squire.jpg" />
                    </div>
                    <div class="location-title">
                        Squire
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 233 - 6531<br />
                    3335 Bloor St. West<br />
                    Etobicoke, ON<br>
                    M8X 1E9<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/theswanandfirkin/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Bloor St - Pubs Bloor St - The Swan and Firkin" src="http://www.firkinpubs.com/img/logos/swan.jpg" />
                    </div>
                    <div class="location-title">
                        Swan
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(416) 767 - 9222<br />
                    2205 Bloor St. West<br />
                    Toronto, ON<br>
                    M6S 1N5<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location old">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/firkinonyonge/" target="_blank">
                    <div class="location-img">
                        <img alt="Restaurants Yonge St - Pubs Yonge St - Firkin on Yonge" src="http://www.firkinpubs.com/img/logos/yonge.jpg" />
                    </div>
                    <div class="location-title">
                        Yonge
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(647) 345 - 0455<br />
                    207 Yonge St.<br />
                    Toronto, ON<br>
                    M5B 2H1<br>
                    &nbsp;</p>
            </div>
        </div><!--
        --><div class="location new">
            <div class="location-header">
                <a href="http://www.firkinpubs.com/" target="_blank">
                    <div class="location-img">
                        <img alt="Firkin Group of Pubs - Corporate" src="http://www.firkinpubs.com/img/logos/corp.jpg" />
                    </div>
                    <div class="location-title">
                        Corporate
                    </div>
                </a>
            </div>
            <div class="location-content">
                <p>(905) 305 - 9792<br />
                    20 Steelcase Rd. W.<br />
                    Markham, ON<br>
                    L3R 1B2<br>
                    &nbsp;</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>