<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12806/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-58fa72cd03b095343ac00e0b0382da7c"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"58fa72cd03b095343ac00e0b0382da7c","selector":"#menu-widget-58fa72cd03b095343ac00e0b0382da7c","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>