<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12825/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-45ff7baa675110cb57ccc0b9d7f077bb"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"45ff7baa675110cb57ccc0b9d7f077bb","selector":"#menu-widget-45ff7baa675110cb57ccc0b9d7f077bb","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>