<div id="event">	
	<div class="widget-section pagesection  " style="background-image: url('http://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		<div style="background-color: rgba(0, 0, 0, 0.3)">
			<span><div id="calender-widget-3ee8c9506b4859a8a8a4a291778cc658"></div><script type="text/javascript" src="http://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"3ee8c9506b4859a8a8a4a291778cc658","selector":"#calender-widget-3ee8c9506b4859a8a8a4a291778cc658","plugins":["calendar"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>