<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12825/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-8d973bb6123ced8511161240221af3d7"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"8d973bb6123ced8511161240221af3d7","selector":"#menu-widget-8d973bb6123ced8511161240221af3d7","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>