<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset39305/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-df42997cdaeb192530fe8168abb52b9f"></div><script type="text/javascript" src="https://www.unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"df42997cdaeb192530fe8168abb52b9f","selector":"#menu-widget-df42997cdaeb192530fe8168abb52b9f","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>