<div id="gallery-2">	
	<div class="widget-section pagesection  map-fold " style="background-image: url('');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div class="main-wrapper">
    <div class="main-container">
    	<div id="gallery-widget-60956b1aaf2ab48e725c6e583853a1b5"></div>
        <!-- <div class="sub-navigation">
            <ul>
                <li><a href="javascript:void();" class="menu-btn selected" id="food">Food</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="location">Location</a></li>
                <li><a href="javascript:void();" class="menu-btn" id="events">Events</a></li>
                <div class="clear-both"></div>
            </ul>
        </div>

        <div class="food-gallery">
            <div id="gallery-widget-65bea7daf24649585d5ed480adbd8f79"></div>
        </div>
        <div class="location-gallery">
            <div id="gallery-widget-bc74c4a082d3947be46921e4cf0f9376"></div>
        </div>
        <div class="events-gallery">
            <div class="event">
                <p>Firkin on Bloor - Location Photos</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.967607199956912.1073741831.931818390202460&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
            <div class="event">
                <p>Firkin on Bloor - Friends &amp; Family</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.961667253884240.1073741829.931818390202460&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
            <div class="event">
                <p>Firkin on Bloor Funnies</p>
                <div class="site-btn">
                    <a href="https://www.facebook.com/media/set/?set=a.940595529324746.1073741828.931818390202460&type=3" target="_blank">
                        View Gallery
                    </a>
                </div>
            </div>
        </div> -->
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript">
	unoapp_widget({"id":"60956b1aaf2ab48e725c6e583853a1b5","selector":"#gallery-widget-60956b1aaf2ab48e725c6e583853a1b5","plugins":["gallery"]});
    // unoapp_widget({"id":"65bea7daf24649585d5ed480adbd8f79","selector":"#gallery-widget-65bea7daf24649585d5ed480adbd8f79","plugins":["gallery"]});
    // unoapp_widget({"id":"bc74c4a082d3947be46921e4cf0f9376","selector":"#gallery-widget-bc74c4a082d3947be46921e4cf0f9376","plugins":["gallery"]});
    // unoapp_widget({"id":"df7a9d8ef3ac301b26becf9a64d74a77","selector":"#gallery-widget-df7a9d8ef3ac301b26becf9a64d74a77","plugins":["gallery"]});
</script>

<script>
    // Menu Navigation
    // $('a.menu-btn').on('click', function(e) {
    //     e.preventDefault();
    //     var idChosen = $(this).attr('id');
    //     if( idChosen == "food" ) {
    //         $('.food-gallery').slideDown();
    //         $('.location-gallery').slideUp();
    //         $('.events-gallery').slideUp();
    //         $(".menu-btn#food").addClass("selected");
    //         $(".menu-btn#location").removeClass("selected");
    //         $(".menu-btn#events").removeClass("selected");
    //         window.dispatchEvent(new Event('resize'));
    //     } else if ( idChosen == "location" ) {
    //         $('.location-gallery').slideDown();
    //         $('.food-gallery').slideUp();
    //         $('.events-gallery').slideUp();
    //         $(".menu-btn#location").addClass("selected");
    //         $(".menu-btn#food").removeClass("selected");
    //         $(".menu-btn#events").removeClass("selected");
    //         window.dispatchEvent(new Event('resize'));
    //     } else if ( idChosen == "events" ) {
    //         $('.events-gallery').slideDown();
    //         $('.food-gallery').slideUp();
    //         $('.location-gallery').slideUp();
    //         $(".menu-btn#events").addClass("selected");
    //         $(".menu-btn#food").removeClass("selected");
    //         $(".menu-btn#location").removeClass("selected");
    //         window.dispatchEvent(new Event('resize'));
    //     } else {

    //     }
    // });
</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>