<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset39305/images/firkin_menupage_backgroundpattern_2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-f7c326724ab72ae031a883a79e2be58c"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"f7c326724ab72ae031a883a79e2be58c","selector":"#menu-widget-f7c326724ab72ae031a883a79e2be58c","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>