<div id="profile">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset34276/images/about-bg6.jpg?r=151013022405');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="profile-widget-6b889aa91fb6ae4d1bbed98d9c5d047f"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"6b889aa91fb6ae4d1bbed98d9c5d047f","selector":"#profile-widget-6b889aa91fb6ae4d1bbed98d9c5d047f","plugins":["profile"]});</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>