<div id="drinks-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12806/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-515c6bf862fbf7098fd45d4a8d675b5f"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"515c6bf862fbf7098fd45d4a8d675b5f","selector":"#menu-widget-515c6bf862fbf7098fd45d4a8d675b5f","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>