<div id="menu-2">	
	<div class="widget-section pagesection  " style="background-image: url('https://images.unoapp.com/boxdata/asset12806/images/new-menu-bg-2017.jpg');background-color: ">
		
		
		<div style="background-color: {{{page.bgwidget.color}}}">
			<span><div id="menu-widget-9084678945e4544fb9736838171b0eb4"></div><script type="text/javascript" src="https://unoapp.com/app/source/resources/widgets/widget.js"></script><script type="text/javascript">unoapp_widget({"id":"9084678945e4544fb9736838171b0eb4","selector":"#menu-widget-9084678945e4544fb9736838171b0eb4","plugins":["menu"]})</script></span>
			<div class="clear-both"></div>
		</div>
	</div>
</div>